
%html
  %head
    %title= 'It\'s Instant Dirt-ification!'
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body{:id => 'topAnchor'}
    #fb-root

    #app-frame= yield
    

:javascript
  /* Facebook initialization */
  window.fbAsyncInit = function() {
      FB.init({
        appId  : '#{app_id}',
        status : true, // check login status
        cookie : true, // enable cookies to allow the server to access the session
        xfbml  : true  // parse XFBML
      });

      window.location.href = '#topAnchor';

      $('#fb-root').trigger('fb-init');
      FB.Canvas.setSize({ width: 520, height: 1100 });
    };

    (function() {
      var e = document.createElement('script');
      e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
      e.async = true;
      document.getElementById('fb-root').appendChild(e);
    }(
  ));
  fbReady(function() {
    $("html,body").scrollTop();
  });
  
