<% form_for [ :admin, @submission ] do |f| %>
  <p>
    <%= error_messages_for :submission,
		:header_message => "Uh oh! There were errors in your form submission.",
		:message => "Please correct the following and try again:" %>
  </p>

  <div class="submission_fields">
	<table>
		<tr>
			<th>Submitted:</th>
			<td><%= @submission.created_at -%></td>
		</tr>
		<tr>
			<th>Name:</th>
			<td><%=  @submission.full_name -%></td>
		</tr>
		<tr>
			<th>Email:</th>
			<td><%= @submission.email -%></td>
		</tr>
		<tr>
			<th>Story:</th>
			<td><%= @submission.text -%></td>
		</tr>  
		<tr>
			<th>Picture:</th>
			<td><%= image_tag(@submission.thumbnail_url) -%></td>
		</tr>		
	</table>
  </div>

  <p><strong><%= f.label  :status -%></strong>
             <%= f.select :status, Submission.status_select -%></p>

  <p>

  </p>

  <p><%= f.submit -%></p>
<% end %>