Select: <%= link_to_function   'All',  'check_all();'  -%>,
        <%= link_to_function   'None', 'check_none();' -%>
        &nbsp;&mdash;
        <%= button_to_function 'Approve', %{ submit_to('Approve',
              '#{mark_approved_admin_submissions_url}?sort_order=#{@sort_order}', #{@page},
              '#{form_authenticity_token}', update_counts) },
              :disabled => (@status == 'approved') -%>
        /
        <%= button_to_function 'Reject', %{ submit_to('Reject',
              '#{mark_rejected_admin_submissions_url}?sort_order=#{@sort_order}', #{@page},
              '#{form_authenticity_token}', update_counts) },
              :disabled => (@status == 'rejected') -%>