<div id="submission_listing">
  <% if @submissions.empty? %>
    No submissions
  <% else %>


      <%= render 'pagination' -%>
	
	<%
		arrow = @sort_order == 'DESC' ? 'arrow_down.png' : 'arrow_up.png'
		switch_order = @sort_order == 'DESC' ? 'ASC' : 'DESC'
		switch_order_action = @potential_winners ? 'potential_winners' : @status
	%>

    <% @headers = [ nil, '#', 'When ' + link_to(image_tag(arrow, :border => 0), :action => switch_order_action, :sort_order =>  switch_order), 'Status', 'Name', 'Text', 'Picture', nil ] %>

    <table id="table">
      <tr>
        <th colspan="<%= @headers.size -%>">
          <%= render 'mass_edit_submit_buttons' -%>
        </th>
      </tr>
      <tr>
        <% @headers.each do |header| %>
          <th><%= header || '' -%></th>
        <% end %>
      <tr>
      <%= render @submissions -%>
      <tr>
        <th colspan="<%= @headers.size -%>">
          <%= render 'mass_edit_submit_buttons' -%>
        </th>
      </tr>
    </table>

      <%= render 'pagination' -%>
  <% end %>
</div>