<tr id="<%= dom_id(submission) %>" class="<%= cycle('odd','even') %>">
  <td>
    <input type="checkbox"
            class="submission_checkbox"
            value="<%= submission.id -%>">
  </td>
  <td><%=h submission.id -%></td>
  <td><%=h submission.created_at.strftime("%m-%d-%Y %I:%M %p") -%></td>
  <td><%=h submission.status.titlecase -%></td>
  <td><%=h submission.full_name %></td>
  <td><%=h submission.text -%></td>
  <td><%= image_tag(submission.thumbnail_url)%></td>
  <td class="edit"><%= link_to 'Edit', [ :edit, :admin, submission ] -%></td>
</tr>