
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xmlns:fb" => "http://www.facebook.com/2008/fbml"}
  %head
    %title= @app_title || 'Set @app_title in controller'
    = stylesheet_link_tag :all, :recursive => true
    = javascript_include_tag :defaults
    = javascript_include_tag 'jcarousellite_1.0.1'
    = javascript_include_tag 'jquery.selectbox-0.5'
    
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17550084-1']);
      _gaq.push(['_trackPageview', '/en-us/facebook/welcome']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
      
  %body
    #fb-root

    #app-frame= yield
    
    :javascript
      $(document).ready(function() {
        /* Facebook initialization */
        window.fbAsyncInit = function() {
          FB.init({
            appId  : '#{app_id}',
            status : true, // check login status
            cookie : true, // enable cookies to allow the server to access the session
            xfbml  : true  // parse XFBML
          });
          
          $('#fb-root').trigger('fb-init');
          
          FB.Event.subscribe('edge.create', function(href, widget) {
            if (href == "http://facebook.olay.com/carrie_underwood")
            {
              _gaq.push(['_trackPageview', '/click/en-us/facebook/welcome/Carrie/like/']);
            }
            else if (href == "http://facebook.olay.com/jahio")
            {
              _gaq.push(['_trackPageview', '/click/en-us/facebook/welcome/Jaiho/like']);
            }
          });
        };
      
        fbReady(function() {
          FB.Canvas.setSize({width: 520, height: 1500});
        });
      
        (function() {
          var e = document.createElement('script');
          e.src = 'https://connect.facebook.net/en_US/all.js#appId=#{app_id}&amp;xfbml=1';
          e.async = true;
          document.getElementById('fb-root').appendChild(e);
        }());
      });
