/* CSS file */
.wc2010sansGreen {
		fontFamily: "WorldCup2010Sans";
		/*fontSize: 12px;*/
		color: #223a00;
		fontWeight: normal;
	}
	.wc2010sansBrown {
		fontFamily: "WorldCup2010Sans";
		/*fontSize: 12px;*/
		color: #755d04;
		fontWeight: normal;
	}
	.wc2010sansRed {
		fontFamily: "WorldCup2010Sans";
		/*fontSize: 12px;*/
		color: #9b0000;
		fontWeight: normal;
	}
	.wc2010sansWhite {
		fontFamily: "WorldCup2010Sans";
		/*fontSize: 12px;*/
		color: #FCF8EA;
		fontWeight: normal;
	}
	.wc2010sansYellow {
		fontFamily: "WorldCup2010Sans";
		/*fontSize: 12px;*/
		color: #F1B80C;
		fontWeight: normal;
	}
	
	.TahomaRed {
		fontFamily: "Tahoma";
		fontSize: 10px;
		color: #9b0000;
		fontWeight: bold;
	}
	
	Alert{
		backgroundImage: Embed(source="assets/backgrounds/alertBg_orange.png");
		titleBackgroundSkin: Embed(source="assets/headers/green_back.png");
		headerHeight: 22;
		borderThicknessTop: 0;
		borderThicknessLeft: 0;
		borderThicknessBottom: 0;
		borderThicknessRight: 0;
		paddingBottom: 10;
		backgroundSize: "100%";
		dropShadowEnabled: true;
		dropShadowColor :#243322;
		fontFamily: "Tahoma";
		fontSize: 11;
		color: #9b0000;
		fontWeight: bold;
		titleStyleName : "alertTitle";
		buttonStyleName: "alertButtonGreen";
		/* modalTransparencyColor: #3A4F18; */
		modalTransparencyColor: #FFFFFF;
		modalTransparency: 0.25;
		modalTransparencyBlur: 5;
		
		}
		
		.alertTitle{
			fontFamily: "WorldCup2010Sans";
			fontSize: 14;
			color: #F1B80C;
			fontWeight: normal;
		}
		
		.alertButtonGreen{
			paddingLeft: 5;
			paddingRight: 5;
			paddingTop: 5;
			paddingBottom: 2;
			embedFonts: true;
			fontFamily: "WorldCup2010Sans";
			fontSize: 11;
			fontWeight: normal;
			letterSpacing: 1;
			color: #FFFFFF;
			text-roll-over-color: #F1B80C;
			text-selected-color: #F1B80C;
			disabled-color: #FFFFFF;
			up-skin: Embed(source="assets/buttons/btnBack_green.png");
			over-skin: Embed(source="assets/buttons/btnBack_red.png");
			down-skin: Embed(source="assets/buttons/btnBack_red.png");
			disabled-skin: Embed(source="assets/buttons/btnBack_green.png");
		}
		
	
		.rightArrowButtonGreen {
		paddingLeft: 5;
		paddingRight: 5;
		paddingTop: 5;
		paddingBottom: 2;
		embedFonts: true;
		fontFamily: "WorldCup2010Sans";
		fontSize: 11;
		fontWeight: normal;
		letterSpacing: 1;
		color: #FFFFFF;
		text-roll-over-color: #F1B80C;
		text-selected-color: #F1B80C;
		disabled-color: #FFFFFF;
		up-skin: Embed(source="assets/buttons/btnBack_green.png");
		over-skin: Embed(source="assets/buttons/btnBack_red.png");
		down-skin: Embed(source="assets/buttons/btnBack_red.png");
		disabled-skin: Embed(source="assets/buttons/btnBack_green.png");
		icon: Embed(source="assets/buttons/arrowIcon_right.png");
	}
	
	.rightArrowButtonRed {
		paddingLeft: 5;
		paddingRight: 5;
		paddingTop: 5;
		paddingBottom: 2;
		embedFonts: true;
		fontFamily: "WorldCup2010Sans";
		fontSize: 11;
		fontWeight: normal;
		letterSpacing: 1;
		color: #FFFFFF;
		text-roll-over-color: #F1B80C;
		text-selected-color: #F1B80C;
		disabled-color: #FFFFFF;
		up-skin: Embed(source="assets/buttons/btnBack_red.png");
		over-skin: Embed(source="assets/buttons/btnBack_green.png");
		down-skin: Embed(source="assets/buttons/btnBack_green.png");
		disabled-skin: Embed(source="assets/buttons/btnBack_red.png");
		icon: Embed(source="assets/buttons/arrowIcon_right.png");
	}
	
	/*.rightArrowButtonRed {
		paddingLeft: 5;
		paddingRight: 5;
		paddingTop: 5;
		paddingBottom: 2;
		embedFonts: true;
		fontFamily: "WorldCup2010Sans";
		fontSize: 11;
		fontWeight: normal;
		letterSpacing: 1;
		color: #FFFFFF;
		text-roll-over-color: #F1B80C;
		text-selected-color: #F1B80C;
		disabled-color: #FFFFFF;
		up-skin: Embed(source="assets/buttons/btnBack_red.png");
		over-skin: Embed(source="assets/buttons/btnBack_green.png");
		down-skin: Embed(source="assets/buttons/btnBack_green.png");
		disabled-skin: Embed(source="assets/buttons/btnBack_red.png");
		icon: Embed(source="assets/buttons/arrowIcon_right.png");
	}*/
	
	.rightArrowLinkButton {
		paddingLeft: 5;
		paddingRight: 5;
		paddingTop: 5;
		paddingBottom: 2;
		embedFonts: true;
		fontFamily: "WorldCup2010Sans";
		fontSize: 12;
		fontWeight: normal;
		letterSpacing: 1;
		color: #F1B80C;
		text-roll-over-color: #FFFFFF;
		text-selected-color: #FFFFFF;
		disabled-color: #FFFFFF;
		icon: Embed(source="assets/buttons/arrowIcon_right.png");
		}
		
	.greenLinkButton {
		paddingLeft: 5;
		paddingRight: 5;
		paddingTop: 5;
		paddingBottom: 2;
		embedFonts: true;
		fontFamily: "WorldCup2010Sans";
		fontSize: 13;
		fontWeight: normal;
		letterSpacing: 1;
		color: #223a00;
		text-roll-over-color: #9b0000;
		text-selected-color: #9b0000;
		disabled-color: #FFFFFF;
		}
	
	.customRadioButton {
		embedFonts: true;
		fontFamily: "WorldCup2010Sans";
		fontSize: 16;
		fontWeight: normal;
		/*letterSpacing: 1;*/
		color: #FFFFFF;
		text-roll-over-color: #F1B80C;
		text-selected-color: #F1B80C;
		disabled-color: #FFFFFF;
		up-icon: Embed(source="assets/buttons/upIcon_radio.png");
		over-icon: Embed(source="assets/buttons/overIcon_radio.png");
		down-icon: Embed(source="assets/buttons/selectedIcon_radio.png");
		selected-up-icon: Embed(source="assets/buttons/selectedIcon_radio.png");
		selected-down-icon: Embed(source="assets/buttons/selectedIcon_radio.png");
		selected-over-icon: Embed(source="assets/buttons/selectedIcon_radio.png");
		
	}
	
	.prevButtonQuiz {
		width: 135;
		height: 25;
		disabled-skin: Embed(source="assets/buttons/btnPrevQuestion01.png");
		up-skin: Embed(source="assets/buttons/btnPrevQuestion02.png");
		over-skin: Embed(source="assets/buttons/btnPrevQuestion02.png");
		down-skin: Embed(source="assets/buttons/btnPrevQuestion02.png");
		
	}
	
	.nextButtonQuiz {
		width: 114;
		height: 25;
		disabled-skin: Embed(source="assets/buttons/btnNextQuestion01.png");
		up-skin: Embed(source="assets/buttons/btnNextQuestion02.png");
		over-skin: Embed(source="assets/buttons/btnNextQuestion02.png");
		down-skin: Embed(source="assets/buttons/btnNextQuestion02.png");
		
	}
	
	@font-face 
	{
		src: url("assets/fonts/WorldCup2010Sans.ttf");
		font-family: WorldCup2010Sans;
		advancedAntiAliasing: true;
		unicode-range: 'U+0021-U+00FF, U+2022, U+2014, U+2018, U+2019, U+201C, U+201D, U+20AC, U+2039, U+203A, U+2122'; 
	}
	
	@font-face 
	{
		src: url("assets/fonts/Tahoma.ttf");
		font-family: Tahoma;
		advancedAntiAliasing: true;
		unicode-range: 'U+0021-U+00FF, U+2022, U+2014, U+2018, U+2019, U+201C, U+201D, U+20AC, U+2039, U+203A, U+2122'; 
	}
	
	@font-face 
	{
		src: url("assets/fonts/Tahoma Bold.ttf");
		font-family: TahomaBold;
		advancedAntiAliasing: true;
		unicode-range: 'U+0021-U+00FF, U+2022, U+2014, U+2018, U+2019, U+201C, U+201D, U+20AC, U+2039, U+203A, U+2122'; 
	}


