#admin_wrap {
  width:   951px;
  margin:  0 auto;
  padding: 0;
  font-family: "Century Gothic", "Lucida Sans", "Lucida Grande", Verdana,
               Arial, sans-serif;
  color: #888e93;
  background: url(http://vitrue.com/templates/vitruecms/images/contentbg.jpg) 4px 0;
}

img#header img#footer { display: block; margin: 0; }

#errorExplanation {
  background: #fcc;
  border:1px solid red;
  color:red;
  margin-bottom:1em;
  padding:15px;
  width: 830px;
}

#errorExplanation h2 {
  color: red;
  margin: 0;
  padding: 0;
}

#errorExplanation p {
  color: white;
}

#flash {
  border: 1px solid green;
  padding: 15px;
  color: green;
  background: #cfc;
  margin-bottom: 1em;
}

#admin {
  width: 900px;
  margin: 35px;
}

h1, h2, h3 { color: #005194; }

table { width: 100%; border: 1px solid #ccc; border-collapse: collapse; }

table tr, table th, table td {
  border:      1px solid #ccc;
  padding:     4px;
  margin:      0;
  color:       #666;
  font-size:   12px;
}

table th {
  text-align: left;
  font-size: 14px;
  color: white;
  background-color: #005194;
}

th a {
  color: white ! important;
}

td.edit a {
  display:block;
  background:url(/images/edit.jpg) no-repeat;
  height:22px;
  width:39px;
}

table td.approved {
  width:55px;
  font-size:16px;
  font-weight:bold;
  color:green;
  font-family:georgia;
}

.even  { background-color: #ddd; }
.total { font-weight: bold; }

div.submission_fields {
  width:850px;
  padding:4px;
  background:#eee;
  border:2px solid #ccc;
  color:#222;
  font-size:.8em;
}

div.submission_fields table tr th {
  width: 300px;
}

a { color:#22c !important; }

/* begin css tabs */

ul#tabnav { /* general settings */
  text-align: left; /* set to left, right or center */
  margin: 1em 0 1em 0; /* set margins as desired */
  border-bottom: 1px solid #6c6; /* set border COLOR as desired */
  list-style-type: none;
  padding: 3px 10px 3px 10px; /* THIRD number must change with respect to padding-top (X) below */
}

ul#tabnav li { /* do not change */
  display: inline;
}

ul#tabnav li.active { /* settings for selected tab */
  border-bottom: 1px solid #fff; /* set border color to page background color */
  background-color: #fff; /* set background color to match above border color */
}

ul#tabnav li.active a { /* settings for selected tab link */
  background-color: #fff; /* set selected tab background color as desired */
  color: #333 ! important; /* set selected tab link color as desired */
  cursor: default;
  position: relative;
  text-decoration: none;
  top: 1px;
  padding-top: 4px; /* must change with respect to padding (X) above and below */
}

ul#tabnav li a { /* settings for all tab links */
  padding: 3px 4px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
  border: 1px solid #6c6; /* set border COLOR as desired; usually matches border color specified in #tabnav */
  background-color: #cfc; /* set unselected tab background color as desired */
  color: #666; /* set unselected tab link color as desired */
  margin-right: 0px; /* set additional spacing between tabs as desired */
  border-bottom: none;
  text-decoration: none;
}

ul#tabnav a:hover { /* settings for hover effect */
  background: #fff; /* set desired hover color */
  text-decoration: underline;
}

/* end css tabs */