/********* Landing Page  **************/


#landing p {
	color:#1F3063;
	font-family:Garamond;
	padding-bottom: 0;
}

.red {
	color: #c23d3e !important;
}

.bold {
	font-weight: 700;
}


.intro-paragraph {
	left:22px;
	line-height:15px;
	position:absolute;
	top:24px;
}

.intro-paragraph p {
	text-align: center;
	font-size: 15px;
	font-weight: normal;
	line-height: 25px;
}

.like-callout {
	left:35px;
	position:absolute;
	top:340px;
}

.like-callout p {
	text-align: center;
	margin-bottom: 45px;
}

.im-in {
	font-family:Times New Roman !important;
	font-size:32px;
	font-style:italic;
}

.sbs-title {
	text-transform: uppercase;
	font-family: "Myriad Pro" !important;
	font-weight: bold;
}

.sbs-donation {
	left:197px;
	position:absolute;
	top:271px;
	width:220px;
}

.sbs-donation p {
	font-size:12px;
	line-height:18px;
}

.money {
	font-size: 16px;
	font-weight: bold;
}

.sbs-description {
	left:35px;
	position:absolute;
	top:470px;
	width:225px;
}

.sbs-description .terms {
	font-family:Garamond;
	font-size: 11px;
}

.sbs-description p {
	color:#848689 !important;
	font-size:12px;
	font-weight:bold;
	line-height:18px;
	text-align:left;
	margin-bottom: 5px;
}

.sbs-description p terms {
	font-size:10px;
	margin-left:57px;
	text-decoration:underline;
}

.enroll {
	left:320px;
	position:absolute;
	top:490px;
}

.conversations {
border:0 solid red;
left:52px;
position:absolute;
top:777px;
width:414px;
}

.twitter-post {
border:0 solid red;
font-family:Geneva,sans-serif;
height:61px;
padding:15px;
}

.twitter-image {
float:left;
margin-right:10px;
width:50px;
}

.twitter-image img {
  width: 50px;
}

.twitter-name {
  border:0 solid red;
color:black;
padding-bottom:2px;
}

.twitter-body {
border:0 solid red;
color:gray;
}

/****  for embed code ****/
#embed-code-container {
	background-color: white;
	border:1px solid #026D9A;
	width: 380px;
	height: 55px;
	font-family:Garamond;
	font-size:14px;
	position:absolute;
	top: 1003px;
	left: 57px;
	padding: 15px 10px;
}

#embed-code-container .input-box {
	padding-top: 10px;
	width: 370px;
}

#embed-code-field {
	border:1px solid #CCCCCC;
	font-size:14px;
	height:20px;
	padding: 5px 2px;
	width:370px;
}

#landing .share-offer {
	left:345px;
	position:absolute;
	top:518px;
}

#landing .shout {
	position:absolute;
	top:712px;
}

#landing #shout-out-field {
	border:1px solid #CCCCCC;
	font-size:14px;
	height:28px;
	padding:0 2px;
	width:155px;
}

#landing .fb-shout {
	left:65px;
	position:relative;
}

#landing .twit-shout {
	left:62px;
	position:relative;
}

.share-offer .fb-share {
 	display:inline-block;
  	height:25px;
  	left:-63px;
  	position:absolute;
  	top:18px;
  	width:25px;
}

.share-offer .twitter-share {
  	display:inline-block;
  	height:25px;
  	left:-33px;
  	position:absolute;
  	top:18px;
  	width:25px;
}

.share-offer p {
	font-family:Times New Roman !important;
	font-size:20px;
	font-style:italic;
	font-weight:bold;
}

.help-spread {
  left:40px;
  position:absolute;
  top:1196px;
  width:448px;
}

.help-spread p {
	color: #848689 !important;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	margin: 0;
}

.spread-terms {
	font-size:11px !important;
	margin-top:45px;
	font-style: italic;
	text-align: right !important;
	text-decoration: underline;
}

/**** preview page ****/
.preview {
	background: url(/images/thanks_background.png?657) no-repeat;
	width: 520px;
	height: 750px;
	padding-top: 408px;
}

.preview p {
	text-align: center;
	color: #000000;
	font-family: Garamond, 'Hoefler Text,' 'Times New Roman', Times, serif;
	font-size: 13px;
	padding:0;
	margin: 0;
}

.preview p.text-right{
	text-align: right;
}

.preview p a {
	color: #000000;
	text-decoration: underline;
}

.preview .footer {
	margin-left:auto;
	margin-right:auto;
	margin-top:70px;
	width: 520px;
}

.preview .footer p {
	text-align:center;
}

.amexlogo {
	margin-left:auto;
	margin-right:auto;
	width:106px;
}

.ad-preview {
	background: url(/images/adPreviewBg.png?655) no-repeat;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
	padding-left: 12px;
	width: 243px;
	height: 172px;
	/*display: block;*/
}

.adTitle {
	color: #3b5998;
	font-family: verdana, arial, helvetica;
	font-size: 12px;
}

.amexColumn {
	padding-top: 5px;
	width: 112px;
	height: 90px;
}

.left {
	float: left;
	margin-left: 0;
	padding:0px;
}

.right {
	float: right;
	margin-right: 15px;
	padding:0px;
}

.clear {
	clear: both;
}

.amexCopy {
	color: #676767;
	font-family: verdana, arial, helvetica;
	font-size: 10px;
}

.totalLikes {
	color: #676767;
	font-family: verdana, arial, helvetica;
	font-size: 11px;
}

.pageName {
	color: #3b5998;
	font-family: verdana, arial, helvetica;
	font-size: 11px;
}

.navButtons {
	margin-top: 15px;
	margin-left:auto;
	margin-right:auto;
	width: 400px;
	padding-left: 68px;
	padding-right: 60px;
}

/**** confirmation page ****/
.confirmation {
	width: 520px;
	height: 1400px;
	display: block;
}

#confirmation .shout {
	left:210px;
	margin-bottom:0;
	padding:0;
	position:absolute;
	top:1048px;
}

#confirmation #shout-out-field {
	border:1px solid #CCCCCC;
	font-size:14px;
	height:28px;
	padding:0 2px;
	width:155px;
}

#confirmation .fb-shout {
	left:70px;
	position:relative;
}

#confirmation .twit-shout {
	left:66px;
	position:relative;
}

.confirmation .header {
	background: url(/images/confirmation_header.png?659) no-repeat;
	width: 520px;
	height: 600px;
	padding-top: 395px;
}

.confirmation .content {
	background: url(/images/confirmation_contentBg.png?653) no-repeat;
	margin-left: auto;
	margin-right: auto;
	padding: 25px 0px;
	width: 434px;
	height: 577px;
}

.confirmation .content .copy {
	margin:auto;
	width:415px;
	color: #777;
	
}

.confirmation .content .copy p {
	text-align: center;
	font-family: Garamond, 'Hoefler Text,' 'Times New Roman', Times, serif;
	font-size: 13px;
	padding:3px;
}

.confirmation .content p.heading {
	font-size: 20px;
}

.confirmation .content p a {
	color: #0090c2;
	text-decoration: underline;
}

.confirmation .content p.legal {
	color: #000000;
	font-size: 11px;
}

.confirmation .footer {
	background: url(/images/confirmation_footer.png?659) no-repeat;
	width: 520px;
	height: 270px;
}

.confirmation .footer p {
	text-align: center;
	font-family: Garamond, 'Hoefler Text,' 'Times New Roman', Times, serif;
	font-size: 13px;
	padding:7px;
	color: #777;
}

.shopSmallTextBox {
	width: 413px;
	padding-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

.sbsPageButton {
	width: 310px;
	margin-top:0px;
	padding-top: 0px;
	margin-left: auto;
	margin-right: auto;
}

/**** main footer ****/
.footer-terms {
	bottom:10px;
	left:151px;
	position:absolute;
	text-align:center;
}

.footer-terms p {
	font-size:13px !important;
	text-decoration:underline;
}

/*** Terms & Conditions ***/
#terms-and-conditions {
	margin-top: 20px;
	z-index: 99;
}

.terms-header {
	background: url(/images/terms_header.png?652) no-repeat;
	width: 520px;
}

.terms-footer {
	background: url(/images/terms_footer.png?651) no-repeat;
	height:395px;
	margin-top:-295px;
	width:520px;	
}

.terms-copy {
	margin-left:55px;
	padding-top:340px;
	width:400px;
}

/*** Registration ***/
#form-container {
	display: block;
	min-height: 2112px;
}

#registration-form-top {
	background: url(/images/registration_top.png?651) no-repeat;
	height:1027px;
	margin-bottom: 0;
}

#registration-form-middle {
	background: url(/images/registration_middle.png) repeat-y;
	margin-top:0;
	min-height:80px;
	padding-left:60px;
	padding-top:60px;
}

#registration-form-bottom {
	background: url(/images/registration_bottom.png) no-repeat;
	margin-top:-11px;
	min-height:954px;
	padding-top:23px;
}

#top-copy {
	padding: 230px 0 335px 100px;
}

#top-copy h2 {
	color: #c23d3e;
	font-family:Garamond;
	font-size: 18px;
}

#top-copy p {
	color:#848689;
	font-family:Garamond;
	font-size:13px;
	margin:0;	
}

#top-copy p.legal {
	color:#414042;
	font-size:12px;
}

.heres-how {
	padding:0 0 40px;
}

.step-one {
	padding: 0 0 0 0;
}

.step-two {
	padding:45px 0 0;
}

.step-three {
	padding:33px 0 0;
}

#submission_form label, #submission_form .select-pre-written {
	color:#414042;
	font-family:Garamond;
	font-size:12px;
}

#submission_form .select-pre-written {
	font-size:13px;
	font-weight:bold;
	margin-left:7px;
}

#submission_form table {
	margin-left: 60px;
}

#custom-copy-field {
	width: 420px;
}

#website-url-field-container {
	height: 100px;
}

input.pre-written-text {
	float:left;
	margin-right:5px;
	margin-top:2px;
}

.pick-image-lable {
	padding-left:63px;
	padding-top:20px;
	width:200px;
}

#image-field {
	height:210px;
	margin-left:50px;
	margin-top:0;
	padding-bottom:10px;
	width:480px;
}

#image-field div {
	display:inline;
	float:left;
	padding:5px;
	border: 3px solid transparent;
}

#terms-textarea {
	background:none repeat scroll 0 0 #FFFFFF;
	border:1px solid black;
	height:200px;
	margin-left:65px;
	overflow:auto;
	padding:5px;
	width:380px;
}

#submission_terms {
	float:left;
	margin-left:-18px;
	margin-top:0;
}

#terms-textarea .terms-copy {
	margin:0;
	padding-top:0;
	width:360px;
}

#terms-and-submit {
	margin-left: 77px !important;
	margin-top: 20px;
}

#terms-and-submit td {
	vertical-align: top;
}

table#terms-and-submit #terms {
	color:#000000;
	font-family:Garamond;
	font-size:11px;
}

.fix_errors {
	color: #C23D3E;
	font-weight: bold;
}

.formError, span.error {
	display: none;
}

.fieldWithErrors label {
	padding-right: 4px;
}

.pick-image-lable .fieldWithErrors {
	float: none;
}

.fieldWithErrors input {
	border:2px solid #C23D3E;
	margin-top:2px;
}

.fieldWithErrors input#submission_email {
	margin-left:-78px;
}

.fieldWithErrors {
	float: left;	
}

div.pick-image-lable .fieldWithErrors {
	float: none;
}

#registration-form-bottom #terms-textarea .terms-copy h1 {
	font-size: .95em;
}

#registration-form-bottom #terms-textarea .terms-copy h2 {
	font-size: .90em;
}

#registration-form-bottom #terms-textarea .terms-copy p {
	font-size: .85em;
}

div.legal {
  width: 253px;
}

#text_counter {
  float: right;
  margin-right: 20px;
}

#text_counter, #text_counter input, #nameTextCounter {
  font-size: 14px;
  font-family: Garamond;
  color: gray;
	background-color:transparent;
	border:medium none;  
}

#text_counter input {
  margin-right: -10px;
}


/*** Open Landing ***/
#open-landing p {
	color:#1F3063;
	font-family:Garamond;
	line-height: 20px;
}

#open-landing p a {
  color:#69BDDB;
  cursor:pointer;
  text-decoration:underline;
}

.terms {
	font-size: 9px;
}

.terms-important {
	font-weight: bold;
}

#open-header {
	/*background: url(/images/open_landing_header.jpg) no-repeat;*/
	/*height:162px;*/
	margin-bottom:-15px;
	text-align:center;
}

#open-header div.header-copy {
	padding-left:30px;
	/*padding-top:225px;*/
	width:450px;
}

div.header-copy span.terms {
	padding-left: 20px;
}

#open-header div.header-copy p {
	text-align: center;
	font-size: 13px;
	font-weight: normal;
	line-height: 23px;
}

#open-reach-out-short {
	background: url(/images/open_landing_reach_short.png) no-repeat;
	margin-bottom:-23px;
	padding-left:20px;
	padding-top:133px;
	text-align:center;
}

.pasued {
	background: url(/images/pause_callout_box.png?651) no-repeat;
	height:215px;
	margin-left:15px;
	padding:15px 10px 0;
	font-size: 11px;
}

#open-reach-out, #open-reach-out-non-fan {
	background: url(/images/open_landing_reach.png?653) no-repeat;
	height:149px;
	margin-bottom:0;
	padding-left:20px;
	padding-top:160px;
	text-align: center;
}

#open-reach-out-tall {
	background: url(/images/open_landing_reach_tall2.png?657228) no-repeat;
	height:172px;
	margin-bottom:0;
	padding-left:20px;
	padding-top:167px;
	text-align: center;
}

/*.like-button-holder {
	margin-left:310px;
	margin-top:-20px;
}

.unlike_span {
	display:none;
}
*/

span.connect_widget_connected_text {
	background: url(/images/you_like_this.png?652) no-repeat;
	display:block;
	margin-right:10px;
	text-indent:-5000px;
	width:114px;
	margin-left: 18px;
}

div.connect_button_container {
	padding-left:65px;
	margin-top: 5px;
}

.connect_widget_user_action {
	display: none !important;
}

#landing div.connect_button_container {
	padding-left: 40px;
}

.unlike_span .mls {
	margin-left:80px;
}

.connect_widget_admin_span {
	display: none;
}

.connect_widget .connect_widget_text {
	padding-left: 0;
	margin-left: -20px;
}

/*.like-button-holder .connect_confirmation_cell {
	display: none;
}
*/
#open-landing .connect_widget_sample_connections,
#landing .connect_widget_sample_connections, 
#landing .show_connected,
.comment_body,
span.connect_widget_not_connected_text {
	display: none;
}

#open-reach-out-non-fan {
	background: url(/images/open_landing_reach-nonfan.png) no-repeat;
}

#open-reach-out p, #open-reach-out-tall p {
	color:#1F3063;
	font-family:Garamond;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

#open-shout {
	background: url(/images/open_landing_shout.png?652) no-repeat;
	height:315px;
	margin-bottom:0;
	padding-top:45px;
	text-align:center;
}

#open-shout .terms {
	font-family:Garamond;
	font-size:9px;
}

#open-shout .terms a {
	color: #000000;
}

.shout {
	margin-bottom:100px;
	padding-left:210px;
}

#shout-out-field {
	border:1px solid #CCCCCC;
	font-size:14px;
	height:28px;
	padding:0 2px;
	width:155px;
}

.shout .input-box {
	float:left;
	margin-right:-60px;
	padding-left:15px;
	padding-top: 6px;
}

.fb-shout img, .twit-shout img {
	padding-top:6px;
}

.twit-shout img {
  width:29px;
}

#open-landing .shout .fb-shout {
	margin-right: -4px;
}

#open-shout p {
	color:#848689;
	font-size:13px;
	font-weight:normal;
	text-align:center;
}

p.shout-copy {
	padding-left:70px;
	width:385px;
}

#open-bottom {
	background: url(/images/open_landing_bottom.png?p=2) no-repeat;
	height:500px;
	padding-left:55px;
	padding-top:280px;
}

.for-website-button {
	margin-left:25px;
	margin-right:15px;
}

.tips {
	padding-top: 90px;
}

.get-tips {
	width: 434px;
}

.get-tips p {
	color:#848689 !important;
	font-size:13px;
	font-weight:bold;
	text-align:center;
}

#open-landing .share-offer {
	background: url(/images/share_offers_logos_background.png) no-repeat;
	height:31px;
	margin-left:150px;
	padding-left:2px;
	padding-top:0;
	text-align:left;
	width:202px;
}

#open-landing .share-offer img {
	margin-right: -4px;
}

/*************** HELP BUBBLES ****************/
.field-help {
  background-color:white;
  border:1px solid #508DC2;
  color:gray;
  font-family:Garamond;
  font-size:13px; 
  padding:8px;
  position:absolute;     
}

#fb-page-url-field-help {
  left:196px;
  top:893px;
  width:167px;
}

#fb-page-url-field-help .bubble-arrow {
  left:-61px;
  position:relative;
  top:21px;
}

#website-url-field-help {
left:91px;
top:975px;
width:167px;  
}

#website-url-field-help .bubble-arrow {
  left:-61px;
  position:relative;
  top:21px;
}

#email-field-help {
	left:135px;
	top:-1152px;
	width:167px;
	position: relative !important;
}

#email-field-help .bubble-arrow {
  left:-61px;
  position:relative;
  top:21px;
}

#city-field-help {
	left:195px;
	top:1258px;
	width:167px;
}

#city-selector {
  height: 22px;
  line-height: 22px
}

#city-field-help .bubble-arrow {
left:-125px;
position:relative;
top:21px;
}