<div id="top-welcome">
  <div id="countryselectcontainer">
    <form id="countryform" name="countryform">
  	  <select id="countrylinks" name="countrylinks">
    	  <option value="http://www.facebook.com/olayargentina">Argentina</option>
    	  <option value="http://www.facebook.com/olayanz">Australia</option>
    	  <option value="http://www.facebook.com/olaybrasil">Brazil</option>
    	  <option value="http://www.facebook.com/olaycanada">Canada</option>
    	  <option value="http://www.facebook.com/olaz">Germany</option>
    	  <option value="http://www.facebook.com/olayindia">India</option>
    		<option value="http://www.facebook.com/olayindonesia">Indonesia</option>
    		<option value="http://www.facebook.com/olaymexico">Mexico</option>
    		<option value="http://www.facebook.com/olayanz">New Zealand</option>
    		<option value="http://www.facebook.com/olayphilippines">Philippines</option>
    		<option value="http://www.facebook.com/olaypolska">Poland</option>
    		<option value="http://www.facebook.com/olaythailand">Thailand</option>
    		<option value="http://www.facebook.com/olayturkiye">Turkey</option>
    		<option selected value="http://www.facebook.com/olay">United States</option>
    		<option value="http://www.facebook.com/olayvietnam">Vietnam</option>
    	</select>
  	  <input type="button" id="countrybtn" name="countrybtn" value="GO" onClick="window.parent.location=document.countryform.countrylinks.options[document.countryform.countrylinks.selectedIndex].value">
    </form>
  </div>
</div>

<div id="banner">
  <button class="previous-banner"></button>
  <button class="next-banner"></button>
  
  <div class="banner-carousel">
    <ul>
      <li class="child">
        <img src="/images/main_banner2_background.jpg" />
        <a href="http://www.facebook.com/olay?sk=app_2392950137" target="_blank" id="watch-now" onClick="recordOutboundLink(this, '/click/en-us/facebook/welcome/Carrie/watchnow/');return false;"></a>
        
        <div id="banner-one-like">
          <!--<iframe id="like" src="http://www.facebook.com/plugins/like.php?app_id=<%= app_id %>&amp;href=http%3A%2F%2Ffacebook.olay.com%2Fcarrie%5Funderwood&amp;send=false&amp;layout=standard&amp;width=51&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=24" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:51px; height:24px;" allowTransparency="true"></iframe>-->
          <fb:like href="http://facebook.olay.com/carrie_underwood" send="false" width="51" show_faces="false" font=""></fb:like>
        </div>
        
        <img src="/images/main_banner_nav_page_current.png" id="banner-one-current" />
        <img src="/images/main_banner_nav_page.png" id="banner-one-next"/>
        
        <div id="media-container">
          
          <div id="jwp-container">
            <div style="width:260px; height:185px;">
              <a href="http://www.facebook.com/#!/video/?id=286863750778"><img src="/images/banner_video/player_placeholder.png" id="placeholder"/></a>
            </div>
          </div>
          <script type="text/javascript">
             jwplayer("jwp-container").setup({
                 skin: "/images/banner_video/skin/OlayWelcomeSkin/OlayWelcomeSkin.zip?5",
                 width: 261,
                 height: 180,
                 controlbar: 'bottom',
                 repeat: 'list',
                 modes: [
                             { type: "flash", src: "/swf/player.swf?<%= Time.now.strftime('%d%m%Y%H%M%S') %>" },
                             { type: "html5" },
                             { type: "download" }
                         ],
                 playlist: [
                 
                     {
                        file: 'http://www.youtube.com/watch?v=EA2ybMf4SoA',
                        title: 'Behind the Scenes',
                     },
                     {
                        file: 'http://www.youtube.com/watch?v=RnIBG35uk1Q&amp;p=FF82D8CC13409F85',
                        title: 'Carrie&#39;s Favorite Vacation Spot',
                      },
                     {
                        file: 'http://www.youtube.com/watch?v=-Jd-pnju4l4&amp;p=FF82D8CC13409F85',
                        title: 'Carrie&#39;s Favorite Movies',
                     },
                     {
                        file: 'http://www.youtube.com/watch?v=xWimSBR52rQ&amp;p=FF82D8CC13409F85',
                        title: 'Carrie&#39;s Skin Care Routine',
                     }// ,
                     //                      {
                     //                          file: 'http://www.youtube.com/watch?v=C8xxcU8l8LE&amp;p=FF82D8CC13409F85',
                     //                          title: 'Carrie&#39;s Most Embarrassing On-Stage Moment',
                     //                       }
                      
                 ],
                 "plugins": {
                       "gapro-2": {
                          "trackstarts": true,
                          "trackseconds": true,
                          "idstring": "/click/en-us/facebook/welcome/Carrie/||title||"
                       },
                       '/javascripts/playlistTitles.js?20': {'initial':'Behind the Scenes'}
                     }
               });
                                                                    
          </script>
          
          <ol id="jwp-playlist">
            <li class="jwp-playlist-item" style="width:60px; float:left;"><a href="#" onclick="jwplayer('jwp-container').playlistItem(0);return false;"><img src="/images/banner_video/playlist/thumbs/item_behind_the_scenes.jpg"  class="thumbnail"/></a></li>
            <li class="jwp-playlist-item" style="width:60px; float:left;"><a href="#" onclick="jwplayer('jwp-container').playlistItem(1);return false;"><img src="/images/banner_video/playlist/thumbs/item3.jpg"  class="thumbnail"/></a></li>
            <li class="jwp-playlist-item"><a href="#" onClick="jwplayer('jwp-container').playlistItem(2);return false;"><img src="/images/banner_video/playlist/thumbs/item4.jpg"  class="thumbnail"/></a></li>
            <li class="jwp-playlist-item"><a href="#" onclick="jwplayer('jwp-container').playlistItem(3);return false;"><img src="/images/banner_video/playlist/thumbs/item2.jpg"  class="thumbnail"/></a></li>
          </ol>
        </div>
          
      </li>

      <li class="child">
        <img src="/images/main_banner1_background.jpg" />
        
        <div id="banner-two-like" onClick="recordTag('/click/en-us/facebook/welcome/Carrie/like/');return false;">
          <!--<iframe src="http://www.facebook.com/plugins/like.php?app_id=<%= app_id %>&amp;href=http%3A%2F%2Ffacebook.olay.com%2Fjahio&amp;send=false&amp;layout=standard&amp;width=51&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=24" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:51px; height:24px;" allowTransparency="true"></iframe>-->
          <fb:like href="http://facebook.olay.com/jahio" send="false" width="51" height="24" show_faces="false" font=""></fb:like>
        </div>
        
        <a href="http://www.olay.com/skin-care-products/bath-and-body-products?utm_source=Facebook&utm_medium=Facebook&utm_campaign=welcometab_1112" target="_blank" id="discover-scent" onClick="recordOutboundLink(this, '/click/en-us/facebook/welcome/Jaiho/discoverscent');return false;"></a>
        <img src="/images/main_banner_nav_page.png" id="banner-two-previous" />
        <img src="/images/main_banner_nav_page_current.png" id="banner-two-current" />
      </li>
      
    </ul>
  </div>
</div>

<img src="/images/headline_module2.jpg" id="middle-headline">

<div id="video-area">
  <button class="previous-video"></button>
  
  <div class="video-carousel">
    <ul>
      <li class="child"><img src="/images/flash_nav_total_effects.jpg" id="flash-total-effects" /></li>
      <li class="child"><img src="/images/flash_nav_prox.jpg" id="flash-prox" /></li>
      <li class="child"><img src="/images/flash_nav_regenerist.jpg" id="flash-regenerist" /></li>
      <li class="child"><img src="/images/flash_nav_body_wash.jpg" id="flash-body-wash" /></li>
    </ul>
  </div>
  
  <button class="next-video"></button>
  
  <div id="video-container">
    <div id="video-player">
      <a href="http://www.olay.com/skin-care-products/total-effects/line-dark-circle-brush?pid=0003700042164&utm_source=Facebook&utm_medium=Facebook&utm_campaign=welcometab_1112" target="_blank" onClick="recordOutboundLink(this, \'/click/en-us/facebook/welcome/innovation/totaleffectslineanddarkcircleminimizer/buynow\');return false;"><img src="/images/flash_total_effects.jpg"/></a>
    </div>
      <script type="text/javascript">
          var eb_flashvars = {};

          var eb_params = {
             'allowfullscreen':        'true',
             'allowScriptAccess':      'always',
             'wmode':                  'transparent'
          };

          var eb_attributes = {
             'id':                     'video-player',
             'name':                   'video-player'
          };

          swfobject.embedSWF('/swf/te_eyebrush.swf?<%= Time.now.strftime('%d%m%Y%H%M%S') %>', 'video-player', '300', '250', '9', 'false', eb_flashvars, eb_params, eb_attributes);
    </script>
  </div>

</div>

<div id="bottom-headline">
  <a href="http://www.olayforyou.com?utm_source=Facebook&utm_medium=Facebook&utm_campaign=welcometab_1112" target="_blank" id="olay-for-you" onClick="recordOutboundLink(this, '/click/en-us/facebook/welcome/olayforyou');return false;"></a>
  <!--
  <a href="#" target="_blank" id="app-store"></a>
  <a href="#" target="_blank" id="android"></a>
  -->
  <div id="youtube-olay-samples">
    <a href="http://www.youtube.com/olay" target="_blank" onClick="recordOutboundLink(this, '/click/en-us/facebook/welcome/youtube');return false;">
        <img src="/images/video_button1.jpg" />
    </a>
    <a href="http://www.youtube.com/olay" target="_blank" onClick="recordOutboundLink(this, '/click/en-us/facebook/welcome/youtube');return false;">
      <img src="/images/video_button2.jpg" />
    </a>
    <a href="http://www.youtube.com/olay" target="_blank" onClick="recordOutboundLink(this, '/click/en-us/facebook/welcome/youtube');return false;">
      <img src="/images/video_button3.jpg" />
    </a>
  </div>
  <a href="http://www.youtube.com/olay" target="_blank" id="youtube-olay" onClick="recordOutboundLink(this, '/click/en-us/facebook/welcome/youtube');return false;"></a>
</div>


<script type="text/javascript">
  function recordOutboundLink(link, tag) {
    _gaq.push(['_trackPageview', tag]);
    setTimeout('window.open("' + link.href + '")', 100);
  }
  
  function recordTag(tag) {
    _gaq.push(['_trackPageview', tag]);
  }
</script>

<script type="text/javascript">
  $(document).ready(function() {
    $('.banner-carousel').jCarouselLite({
      btnNext: '.next-banner',
      btnPrev: '.previous-banner',
      circular: false,
      visible: 1
    });
    
    $('.video-carousel').jCarouselLite({
      btnNext: '.next-video',
      btnPrev: '.previous-video',
      circular: false,
      vertical: true
    });
    
    $('#flash-total-effects').click(function() {
      $('#video-player').html('<a href="http://www.olay.com/skin-care-products/total-effects/line-dark-circle-brush?pid=0003700042164&utm_source=Facebook&utm_medium=Facebook&utm_campaign=welcometab_1112" target="_blank" onClick="recordOutboundLink(this, \'/click/en-us/facebook/welcome/innovation/totaleffectslineanddarkcircleminimizer/buynow\');return false;"><img src="/images/flash_total_effects.jpg"/></a>');
      var eb_flashvars = {};
           
      var eb_params = {
         'allowfullscreen':        'true',
         'allowScriptAccess':      'always',
         'wmode':                  'transparent'
      };

      var eb_attributes = {
         'id':                     'video-player',
         'name':                   'video-player'
      };
      
      swfobject.embedSWF('/swf/te_eyebrush.swf?<%= Time.now.strftime('%d%m%Y%H%M%S') %>', 'video-player', '300', '250', '9', 'false', eb_flashvars, eb_params, eb_attributes);
      
      _gaq.push(['_trackPageview', '/click/en-us/facebook/welcome/innovation/totaleffectslineanddarkcircleminimizer']);
    });
    
    $('#flash-prox').click(function() {
      $('#video-player').html('<a href="http://olayprofessional.com/cleansingSystem.html?utm_source=Facebook&utm_medium=Facebook&utm_campaign=welcometab_1112" target="_blank" onClick="recordOutboundLink(this, \'/click/en-us/facebook/welcome/innovation/proxadvancedcleaningsystem/buynow\');return false;"><img src="/images/flash_prox.jpg"/></a>');
      var pro_flashvars = {
        'appHost': '<%= "#{app_host}" %>/'
      };
            
     var pro_params = {
        'allowfullscreen':        'true',
        'allowScriptAccess':      'always',
        'wmode':                  'transparent'
     };

     var pro_attributes = {
        'id':                     'video-player',
        'name':                   'video-player'
     };
      
      swfobject.embedSWF('/swf/professional_pro_x.swf?<%= Time.now.strftime('%d%m%Y%H%M%S') %>', 'video-player', '300', '250', '9', 'false', pro_flashvars, pro_params, pro_attributes);
      
      _gaq.push(['_trackPageview', '/click/en-us/facebook/welcome/innovation/proxadvancedcleaningsystem']);
    });
    
    $('#flash-body-wash').click(function() {
      $('#video-player').html('<a href="http://www.olay.com/pages/TotalEffectsProductDetail.aspx?pid=037000264477&name=&utm_source=Facebook&utm_medium=Facebook&utm_campaign=welcometab_1112" target="_blank" onClick="recordOutboundLink(this, \'/click/en-us/facebook/welcome/innovation/totaleffectsbodywash/buynow\');return false;"><img src="/images/flash_body_wash.jpg"/></a>');
      var bw_flashvars = {};
                        
      var bw_params = {
         'allowfullscreen':        'true',
         'allowScriptAccess':      'always',
         'wmode':                  'transparent'
      };

      var bw_attributes = {
         'id':                     'video-player',
         'name':                   'video-player'
      };
      
      swfobject.embedSWF('/swf/te_bodywash.swf?<%= Time.now.strftime('%d%m%Y%H%M%S') %>', 'video-player', '300', '250', '9', 'false', bw_flashvars, bw_params, bw_attributes);
      
      _gaq.push(['_trackPageview', '/click/en-us/facebook/welcome/innovation/totaleffectsbodywash']);
    });
    
    $('#flash-regenerist').click(function() {
      $('#video-player').remove();
      $('#video-container').append('<div id="video-player" style="visibility:visible"><img src="/images/flash_regenerist.jpg" /><a href="http://www.olay.com/skin-care-products/anti-aging-products/facial-moisturizers?pid=075609034558&utm_source=Facebook&utm_medium=Facebook&utm_campaign=welcometab_1112" target="_blank" id="buy-now-regenerist" onClick="recordOutboundLink(this, \'/click/en-us/facebook/welcome/innovation/regeneristnightresurfacingelixir/buynow\');return false;"></a></div>');
      _gaq.push(['_trackPageview', '/click/en-us/facebook/welcome/innovation/regeneristnightresurfacingelixir']);
    });
  });
</script>


