/* CSS file */

.SelectPhotoButton {		
	downSkin: Embed(source="assets/button_selectphoto_down.png");
	overSkin: Embed(source="assets/button_selectphoto_over.png");
	upSkin: Embed(source="assets/button_selectphoto.png");		
}

.DirtifyButton {		
	downSkin: Embed(source="assets/button_dirtify_down.png");
	overSkin: Embed(source="assets/button_dirtify_over.png");
	upSkin: Embed(source="assets/button_dirtify.png");		
}

.CloseButton {		
	downSkin: Embed(source="assets/characterMasks.swf",symbol="closeBtn_down");
	overSkin: Embed(source="assets/characterMasks.swf",symbol="closeBtn_over");
	upSkin: Embed(source="assets/characterMasks.swf",symbol="closeBtn");		
}

.ReplayButton {		
	downSkin: Embed(source="assets/characterMasks.swf",symbol="replayBtn_down");
	overSkin: Embed(source="assets/characterMasks.swf",symbol="replayBtn_over");
	upSkin: Embed(source="assets/characterMasks.swf",symbol="replayBtn");		
}

.VideoThumbButton {		
	downSkin: Embed(source="assets/characterMasks.swf",symbol="video_thumb_over");
	overSkin: Embed(source="assets/characterMasks.swf",symbol="video_thumb_over");
	upSkin: Embed(source="assets/characterMasks.swf",symbol="video_thumb");		
}

.OKButton {		
	downSkin: Embed(source="assets/characterMasks.swf",symbol="okBtn_down");
	overSkin: Embed(source="assets/characterMasks.swf",symbol="okBtn_over");
	upSkin: Embed(source="assets/characterMasks.swf",symbol="okBtn");		
}

.ZoomInButton {		
	disabledSkin: Embed(source="assets/icons/demoIcons.swf",symbol="MinusButton_Disabled");
	downSkin: Embed(source="assets/icons/demoIcons.swf",symbol="MinusButton_Down");
	overSkin: Embed(source="assets/icons/demoIcons.swf",symbol="MinusButton_Over");
	upSkin: Embed(source="assets/icons/demoIcons.swf",symbol="MinusButton_Up");		
}	

.ZoomOutButton {		
	disabledSkin: Embed(source="assets/icons/demoIcons.swf",symbol="PlusButton_Disabled");
	downSkin: Embed(source="assets/icons/demoIcons.swf",symbol="PlusButton_Down");
	overSkin: Embed(source="assets/icons/demoIcons.swf",symbol="PlusButton_Over");
	upSkin: Embed(source="assets/icons/demoIcons.swf",symbol="PlusButton_Up");
}

.RotateLeftButton{
	skin: Embed(source="assets/characterMasks.swf",symbol="rotateLeft");
}

.RotateRightButton{
	skin: Embed(source="assets/characterMasks.swf",symbol="rotateRight");
}

Label {
	color: #808080;
}

CheckBox {
	color: #808080;			
}

.ZoomBox {
	borderStyle: solid;
	horizontalAlign: center; 
	cornerRadius: 10; 
	backgroundAlpha: 0.70; 
	backgroundColor: #468810;
	borderThickness: 0; 		
}


