body {
	padding: 0;
	margin: 0;
}
/*** FACEBOX ***/
#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
	font-family: verdana, arial, sans-serif;
}
#facebox .popup {
  position:relative;
  border:3px solid rgba(0,0,0,0);
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
}
#facebox .content {
  display:table;
  width: 370px;
  padding: 17px;
  background: #fff;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  font: 12px Helvetica, Arial, sans-serif;
  color: #7d432e;
  line-height: 16px;
}
#facebox .content > p:first-child {
  margin-top:0;
}
#facebox .content > p:last-child {
  margin-bottom:0;
}
#facebox .close {
  position:absolute;
  top:5px;
  right:5px;
  padding:2px;
  background:#fff;
}
#facebox .close img {
  opacity:0.3;
}
#facebox .close:hover img {
  opacity:1.0;
}
#facebox .loading {
  text-align: center;
}
#facebox .image {
  text-align: center;
}
#facebox img {
  border: 0;
  margin: 0;
}
#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}
.facebox_hide {
  z-index:-100;
}
.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}
#loading {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  text-align: center;
  display: block;
  font-size: 20px;
  overflow: hidden;
  padding-top: 300px;
  background-color: white;
  color: #000;
  filter: alpha(opacity=85); /* internet explorer */
  -khtml-opacity: 0.85;      /* khtml, old safari */
  -moz-opacity: 0.85;       /* mozilla, netscape */
  opacity: 0.85;           /* fx, safari, opera */
}


/** custom CSS starts here ------------------------------------------- **/

.background {
	background: url('/images/background.jpg') no-repeat;
	height: 799px;
	width: 520px;
	overflow: hidden;
}

.home-button {
	background: url('/images/botton_top_home.jpg') no-repeat;
	height: 18px;
	width: 60px;
	Position: absolute;
	top: 4px;
	left: 270px;
}

a:hover .home-button {
	background: url('/images/botton_top_home_over.jpg') no-repeat;   
}

.gallery-button {
	background: url('/images/botton_top_gallery.jpg') no-repeat;
	height: 18px;
	width: 82px; 
	Position: absolute;
	top: 4px;
	left: 336px;
}

a:hover .gallery-button  {
	background: url('/images/botton_top_gallery_over.jpg') no-repeat;   
}

.share-button {
	background: url('/images/botton_top_share.jpg') no-repeat;
	height: 18px;
	width: 82px;  
	Position: absolute;
	top: 4px;
	left: 424px;
}

a:hover .share-button {
	background: url('/images/botton_top_share_over.jpg') no-repeat;   
}

.footer-text {
	color: #6e5535 !important;
	Position: absolute;
	top: 744px;
	left: 288px;
	font-size: 10px;
}
.footer-text a:hover,
.footer-text a {
	background: none !important;
	color: #6e5535;
}

.green-container {
	background-color: #5cad3e;
	border: 1px solid #3f782d;
	padding: 10px;
}

.dirtmyself-button {
	background: url('/images/button_dirtmyself.png') no-repeat;
	display:block;
	height: 42px;
	width: 263px;
	Position: absolute;
	top: 471px;
	left: 223px;
}

.dirtmyself-button a:hover{
	background: url('/images/button_dirtmyself_over.png') no-repeat;
	border: 1px solid red;
}

a:active .dirtmyself-button {
	background: url('/images/button_dirtmyself_down.png') no-repeat;
}

.pagination {
	position:absolute;
	top: 744px;
	left: 171px;
	height: 25px;
	width: 330px;
}

.previous_page {
	background: url('/images/button_previous.png') no-repeat;
	height: 25px;
	width: 98px;
	padding-right: 20px;
	float: left;
        text-indent: -1000px;
}

.previous_page.disabled {
	background: url('/images/button_previous_inactive.png') no-repeat;
	height: 25px;
	width: 98px;
	padding-right: 20px;
	float: left;
}

a:hover .previous_page {
	background: url('/images/button_previous_over.png') no-repeat;
}

a:active .previous_page {
	background: url('/images/button_previous_down.png') no-repeat;
}

.pagination em, .pagination a {
	color: #5cad3e;
	text-decoration: none;
	float: left;
        margin: 0 5px;
}

.pagination em {
	color: #3a589a;
	float: left;
}

.pagination span, .pagination a {
          margin-top: 2px;
}

.pagination .gap {
        float: left;
}

.next_page {
	background: url('/images/button_next.png') no-repeat;
	height: 25px;
	width: 71px;
	margin-left: 20px;
	float: left;
        text-indent: -1000px;
}

.next_page.disabled {
	background: url('/images/button_next_inactive.png') no-repeat;
	height: 25px;
	width: 71px;
	margin-left: 20px;
	float: left;
}

a:hover .next_page {
	background: url('/images/button_next_over.png') no-repeat;
}

a:active .next_page {
	background: url('/images/button_previous_down.png') no-repeat;
}

.download-button:active {
	background: url('/images/button_download_down.png') no-repeat;
}

.download-button:hover {
	background: url('/images/button_download_over.png') no-repeat;
}

.download-button {
	background: url('/images/button_download.png') no-repeat;
	height: 30px;
	width: 119px;
	position: absolute;
	top: 520px;
	left: 133px;
}

.start-over-button:hover {
	background: url('/images/button_startover_over.png') no-repeat;
}

.start-over-button:active {
	background: url('/images/button_startover_down.png') no-repeat;
}

.start-over-button {
	background: url('/images/button_startover.png') no-repeat;
	height: 30px;
	width: 119px;
	position: absolute;
	top: 520px;
	left: 270px;
        display:block;
}

.post-button:hover {
	background: url('/images/button_posttowall_over.png') no-repeat;
}

.post-button:active {
	background: url('/images/button_posttowall_down.png') no-repeat;
}

.post-button {
	background: url('/images/button_posttowall.png') no-repeat;
	height: 30px;
	width: 182px;
	position: absolute;
	top: 263px;
	left: 103px;
}

.post-button-wrapper {
	height: 30px;
}


.visit-gallery-button {
	background: url('/images/button_visitgallery.png') no-repeat;
	height: 25px;
	width: 201px;
	position: absolute;
	top: 745px;
	left: 155px;
}

.green-container div img {
        border: solid 1px #285c15;
}

.visit-gallery-button:hover {
	background: url('/images/button_visitgallery_over.png') no-repeat;
}

.visit-gallery-button:active {
	background: url('/images/button_visitgallery_down.png') no-repeat;
}

/*** GALLERY STYLES ***/
.dirts-thumb-container {
	width:129px;
	height:100px;
	background-color: #3f782d;
	text-align: center;
}	

.dirts-thumb {
	max-height: 96px;
	max-width: 129px;
}

.hidden {
  display:none
}
