<%= form_for(@dirt, :html => { :multipart => true }) do |f| %>
  <% if @dirt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dirt.errors.count, "error") %> prohibited this dirt from being saved:</h2>

      <ul>
      <% @dirt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :photo %><br/>
    <%= image_tag @dirt.photo.url(:thumb) unless @dirt.new_record? %><br/>
    <%= f.file_field :photo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
