    <% facebook_share_button_vo = Facebook_share_button_vo.new %>
    <% facebook_share_button_vo.name = "I've been Dirtified." %>
    <% facebook_share_button_vo.link = "#{bounce_url}?page=" + CGI::escape("/dirts/#{@dirt.id}") %>
    <% facebook_share_button_vo.description = "If you were in a Swiffer commericial, what would you look like? Find out." %>
    <% facebook_share_button_vo.picture = "#{app_host}#{@dirt.photo.url(:share)}" %>
    <script language="javascript">
      function shareCallback (post_id, exception) {
        if(exception) {
          alert(exception);
        }
      }
    </script>
    <%= facebook_share_button "",facebook_share_button_vo,"shareCallback","share-button" %>

