<div class="background">
  <%= link_to '', landing_dirts_path, :class => 'home-button' %>
  <%= link_to '', dirts_path, :class => 'gallery-button' %>
  <%= render 'share' %>
  
  <div style="width:480px; height:650px; position:absolute; top:130px; left:20px;">
    <div id="flashContent">
      <!-- <object width="480" height="640">
              <param name="movie" value="<%= "#{app_host}/swf/Main.swf?" + DateTime.now.to_i.to_s %>">
              <param name="wmode" value="transparent">
              <param name="allowscriptaccess" value="always">
              <param name="flashvars" value="<%= "app_host=#{app_host}&app_id=#{app_id}&access_token=#{app_access_token}" %>">
              <embed src="<%= "#{app_host}/swf/Main.swf?" + DateTime.now.to_i.to_s %>" width="480" height="640" wmode="transparent" allowscriptaccess="always" flashvars="<%= "app_host=#{app_host}&app_id=#{app_id}&access_token=#{app_access_token}" %>">
              </embed>
            </object> -->
    </div>
    
    <script type="text/javascript">
      var flashvars = {
        app_host: "<%= "#{app_host}" %>",
        app_id: "<%= "#{app_id}" %>",
        access_token: "<%= "#{app_access_token}" %>"
      };
      
		
			swfobject.embedSWF("<%= "#{app_host}/swf/Main.swf?" + DateTime.now.to_i.to_s %>", "flashContent", "480", "650", "10.0", null, flashvars, null, {name:"flashContent",wmode:"transparent"}); 			
		</script>
    
    <!-- <%= link_to 'show.html', dirt_path(1), :class => '' %> -->
  </div>
  
   

</div>

