<div class="background">
  <%= link_to '', landing_dirts_path, :class => 'home-button' %>
  <%= link_to '', dirts_path, :class => 'gallery-button' %>
  <%= render 'share' %>
  
  <img src="/images/gallery_headline.png" width="206" height="39" style="position:absolute; top:130px; left:158px;" />

  <div class="green-container" style="position: absolute; top: 175px; left: 40px; width:420px; height:538px;">

    <table width="100%" cellspacing="5px">
       <tr>
         <% for i in 0 .. 14 do %>
           <% dirt = @dirts[i] %>
           <td class="dirts-thumb-container">
             <% if dirt %>
               <%= link_to (image_tag dirt.photo.url(:thumb), :class => 'dirts-thumb'), dirt_path(dirt) %>
             <% end %>
           </td>
         <% if i != 0 && ((i+1) % 3) == 0 %>
      </tr> 
      <tr>
         <% end %>
     <% end %>
       </tr>
    </table>
    

  </div>
  
  <%= will_paginate @dirts %>
    
</div>
