<div class="background">
   <%= link_to '', landing_dirts_path, :class => 'home-button' %>
   <%= link_to '', dirts_path, :class => 'gallery-button' %>
   <%= render 'share' %>
   
   <img src="/images/landing_page_toptext.png" width="401" height="63" style="position:absolute; top:136px; left:58px;" />
   <img src="/images/landing_page_photos.png" width="450" height="239" style="position:absolute; top:216px; left:36px;" />
   <%= link_to '', '#', :class => 'dirtmyself-button', :id => 'dirtmyself-button' %>

<script type='text/javascript'>
  fbReady(function() {
    $('#dirtmyself-button').click(function() {
      requestPermission('publish_stream, user_photos', permissionCallback);
      
    });
  });

  function permissionCallback(response) {
    if(response.installed == 1) {
      window.parent.location = "<%="#{bounce_url}?page=" + CGI::escape("/dirts/flex") %>";
    } else {
      FB.getLoginStatus(function(response) {
        if(response.session) {
      window.parent.location = "<%="#{bounce_url}?page=" + CGI::escape("/dirts/flex") %>";
        }
      });
    }
  }
</script>

   <img src="/images/landing_page_mudgirl.png" width="161" height="269" style="position:absolute; top:516px; left:36px;" />
   <img src="/images/landing_page_quote.png" width="200" height="24" style="position:absolute; top:599px; left:143px;" />
  
   <div class="footer-text">
     <a href="http://www.pg.com/privacy/english/privacy_notice.html" target="_blank">privacy policy</a>
   </div>

   <div id="terms_and_conditions" class="hidden">

   </div>
</div>
