<div class="background">
  <%= link_to '', landing_dirts_path, :class => 'home-button' %>
  <%= link_to '', dirts_path, :class => 'gallery-button' %>
  <%= render 'share_my_dirt' %>
  
  <img src="/images/results_headline.png" width="406" height="35" style="position:absolute; top:136px; left:58px;" />
  <div class="green-container" style="position: absolute; top: 194px; left: 71px;">
    <img src="/images/results_photo_headline.png" width="129" height="19" style="padding: 0 0 5px 106px" />
    <!--
    Do not remove or modify the following hidden field. It is parsed by the Flex app.
    -->
    <input type="hidden" name="dirt_id" value="<%= @dirt.id %>"/>
    <div style='height: 265px; width:354px; text-align: center;'>
      <%= image_tag @dirt.photo.url(:medium) %>
      <div class="post-button-wrapper">
        <% facebook_share_button_vo = Facebook_share_button_vo.new %>
        <% facebook_share_button_vo.name = "I've been Dirtified." %>
        <% facebook_share_button_vo.link = "#{bounce_url}?page=" + CGI::escape("/dirts/#{@dirt.id}") %>
        <% facebook_share_button_vo.description = "If you were in a Swiffer commericial, what would you look like? Find out." %>
        <% facebook_share_button_vo.picture = "#{app_host}#{@dirt.photo.url(:share)}" %>
        <script language="javascript">
          function shareCallback (post_id, exception) {
            if(exception) {
              alert(exception);
            }
          }
        </script>
        <%= facebook_share_button "",facebook_share_button_vo,"shareCallback","post-button" %>
      </div>
    </div>
  </div>
  
  <%= link_to '', dirt_download_path(@dirt), :class => 'download-button' %>
  <%= link_to '', landing_dirts_path, :class => 'start-over-button' %>
  
  <div class="green-container" style="position: absolute; top: 575px; left: 40px; width:420px;">
     <img src="/images/results_photo_gallery_headline.png" width="232" height="19" style="padding: 0 0 5px 106px" />

      <table width="100%" cellspacing="5px">
        <tr>
         <% for i in 0 .. 2 do %>
           <% dirt = @dirts[i] %>
           <td class="dirts-thumb-container">
             <% if dirt %>
               <%= link_to (image_tag dirt.photo.url(:thumb), :class => 'dirts-thumb'), dirt_path(dirt) %>
             <% end %>
           </td>
     <% end %>
       </tr> 
     </table>
     
  </div>
  
  <%= link_to '', dirts_path, :class => 'visit-gallery-button' %>
  
</div>
