<% form_for [ :admin, @contest ], :html => { :multipart => true } do |f| %>
  <p>
    <%= error_messages_for :contest,
		:header_message => "Uh oh! There were errors in your form submission.",
		:message => "Please correct the following and try again:" %>
  </p>

  <div class="form_fields">
	<table>
		<tr>
			<th><%= f.label :challenge_name %></th>
			<td><%= f.text_field :challenge_name %></td>
		</tr>
		<tr>
			<th><%= f.label :descriptive_name %></th>
			<td><%= f.text_field :descriptive_name %></td>
		</tr>
		<tr>
			<th><%= f.label :description %></th>
			<td><%= f.text_area :description %></td>
		</tr>
		<tr>
			<th><%= f.label :prize %></th>
			<td><%= f.text_field :prize %></td>
		</tr>
		<tr>
			<th><%= f.label :display_date %></th>
			<td><%= f.text_field :display_date %></td>
		</tr>
		<tr>
			<th><%= f.label :start_date %></th>
			<td><%= f.date_select :start_date, :order => [:month, :day, :year], :start_year => 2010, :end_year => 2011 %></td>
		</tr>
		<tr>
			<th><%= f.label :end_date %></th>
			<td><%= f.date_select :end_date, :order => [:month, :day, :year], :start_year => 2010, :end_year => 2011 %></td>
		</tr>
		<tr>
			<th><%= f.label :video_url %></th>
			<td><%= f.text_field :video_url %></td>
		</tr>
		<tr>
			<th><%= f.label :bg_selector %></th>
			<td><%= f.text_field :bg_selector %></td>
		</tr>
		<tr>
			<th>Current Image:</th>
			<td>
				<%= image_tag @contest.image.url(:thumb) %>
			</td>
		</tr>
		<tr>
			<th><%= f.label :image, 'Upload a new image?' %></th>
			<td><%= f.file_field :image %></td>
		</tr>
	</table>
  </div>

  <p><%= f.submit 'Save' %></p>
<% end %>
