<%= link_to 'Add a Contest', new_admin_contest_url %>
<% if @contests.empty? %>
  No contests...
<% else %>
  <table id="table">
    <tr>
       <th>#</th>
       <th>Created</th>
       <th>Challenge Name</th>
       <th>Descriptive Name</th>
       <th colspan="2"></th>
    <tr>
	<% @contests.each do |contest| %>
    	<tr id="<%= dom_id(contest) %>" class="<%= cycle('odd','even') %>">
		  <td><%=h contest.id -%></td>
		  <td><%=h contest.created_at.strftime("%m-%d-%Y %I:%M %p") -%></td>
		  <td><%=h contest.challenge_name -%></td>
		  <td><%=h contest.descriptive_name -%></td>
		  <td class="edit"><%= link_to 'Edit', [ :edit, :admin, contest ] -%></td>
		  <td class="delete">
			<%= link_to 'Delete', [:admin, contest], :confirm => 'Are you sure?', :method => :delete %>
		  </td>
		</tr>
	<% end %>
  </table>
<% end %>