<% if @cities.blank? %>
	Please select a state first.
<% else %>
	<select name="submission[city]" id="city">
		<option value="">----- Select a city -----</option>
		<% @cities.each do |c| %>
			<option value="<%= c %>" <%= "selected=\"selected\"" if @submission.present? && @submission.city == c %>><%= c %></option>
		<% end %>
	</select>
<% end %>