<div class="submission-finalist">
	<div class="submission-photo" id="submission-<%=h submission.id %>">
      <%= link_to_function image_tag(submission.thumbnail_url, :size => '128x128'), "toggleInfo(#{submission_counter})"%>			
      <!--<div><%=h submission.text %></div>-->
	</div>
	
	<div id="submission-popup-<%= submission_counter %>" class="<%= class_from_index(submission_counter)%>" style="display:none; width: 400px; height: 400px; background-color: white; position: absolute; top: 500px; left: 0px;">
	  <div id="submission-vote-<%= submission.id %>">
	    <%= tab_link_to 'Vote', create_vote_path(:canvas => false), :container => "submission-vote-#{submission.id}"%>
	  </div>	  
	  submission: <%= submission.id %><br/>
	  
	  <%= image_tag(submission.thumbnail_url, :size => '128x128') %>

	</div>
</div>