<div class="confirmation" id="confirmation">
	<div class="header">
		<div class="content">
			<div class="ad-preview">
				<div class="adTitle"><%= @submission.business_name %></div>
				<div class="amexColumn right"><span class="amexCopy"><%= @submission.custom_copy %></span>
				</div>
				<div class="amexColumn">
					<%= image_tag(@submission.image) if @submission.image%>
				</div>
				<div class="clear"></div>
				<span class="amexCopy">4,321 people like </span><span class="pageName"><%= @submission.business_name %></span>
			</div>
			<div class="copy">
				<p class="heading" style="text-align:center;">Thank You</p>
				<p>Your Facebook ad will be reviewed for compliance with the <%= link_to_function ('Terms of Participation', "toggleInfo('confirmation')")%></a> and
				<a href="http://www.facebook.com/ad_guidelines.php">Facebook Advertising Guidelines</a>.</p>
				<p>If approved, your campaign will run in the next two weeks.* Within three weeks of your campaign's completion, we'll e-mail you a report detailing your ad's performance.</p>
				<p class="heading">A Special Offer from Facebook</p>
				<p>In support of small businesses everywhere, Facebook has partnered with Amercican Express to provide you with an
				opportunity for an additional $50 in Facebook advertising toward your next campaign. Stay tuned for details from Facebook.</p>
				<p class="legal">*Actual length of campaign may vary depending on clicks and/or impressions required to spend $100 of Facebook advertising.</p>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="shopSmallTextBox">
			<%= image_tag ('/images/shopSmallTextArea.png?1') %>
			<div class="shout">
				<div class="input-box">
					<input id="shout-out-field" type="text" name="shout-out-field" />
				</div>	
				<%= link_to_function image_tag('/images/facebook_logo.pngx10'), "do_fb_share()", :class => 'fb-shout' %>
				<%= link_to_function image_tag('/images/twitter_logo.png?x10'), "do_twitter_share()", :class => 'twit-shout'%>
			</div>			
		</div>
			<p>Or you can return to the<br/><br/>
			Small Business Saturday page on Facebook<p>
		<div class="sbsPageButton">
			<%= link_to image_tag ('/images/sbsPageBtn.png'), "http://www.facebook.com/SmallBusinessSaturday" %>
		</div>
	</div>
</div>


<div id="terms-and-conditions" style="display: none;">
	<div class="close-terms"><%= link_to_function ('Close', "closeInfo('confirmation')")%></div>
	<div class="terms-header">
		<%= render :partial => "/tab/rules.html.erb" %>
	</div>
	<div class="terms-footer">&nbsp;</div>
</div>
