<div id="<%= @contest.bg_selector %>-photo-upload">
  <% if @submissions.empty? %>
    No submissions
  <% else %>
<div>
    <div class="<%= @contest.bg_selector %>-pagination"><%= render 'pagination' -%></div>
    <div class="<%= @contest.bg_selector %>-gallery">
    <%= render :partial => 'submission', :collection => @submissions -%>
    
    </div>
	<div id="<%= @contest.bg_selector %>-photo-detail" style="display: none;">Photo details here.</div>
</div>
  <% end %>  
</div>


<script type="text/javascript">
function showDetails(div_id) {
  document.getElementById('photo-detail').setStyle('display', 'block');
}

function toggleInfo(id){
  document.getElementById('submission-popup-0').setStyle("display", "none");
  document.getElementById('submission-popup-1').setStyle("display", "none");
  document.getElementById('submission-popup-2').setStyle("display", "none");
  document.getElementById('submission-popup-3').setStyle("display", "none");
  document.getElementById('submission-popup-4').setStyle("display", "none");
  document.getElementById('submission-popup-5').setStyle("display", "none");
  document.getElementById('submission-popup-6').setStyle("display", "none");
  document.getElementById('submission-popup-7').setStyle("display", "none");
  document.getElementById('submission-popup-8').setStyle("display", "none");

  document.getElementById('submission-popup-' + id).setStyle("display", "block");
}

</script>