<fb:user-agent includes="ie 7">
<style>
#registration-form-top {
	height: 1090px !important;
}

#registration-form-middle {
	padding-top: 0 !important;
}

</style>
</fb:user-agent>

<fb:user-agent includes="ie">
<style>
#submission_terms {
	float:none !important;
	margin-left:0 !important;
}
</style>
</fb:user-agent>

<fb:user-agent includes="chrome, safari">
<style>
	#submission_form table {
		margin-left: 60px;
		margin-top: 15px;
	}
</style>
</fb:user-agent>

<div id="form-container">

		<% form_for @submission,
			:url  => submissions_path,
            :html => { :method => 'post',
            :id     => 'submission_form' } do |f| %>
	<div id="registration-form-top">
		<div id="top-copy">
			<div class="heres-how">Here's how to get your $100 of free Facebook ads. Simply...</div>
			<div class="step-one steps">
				<h2>Register</h2>
				<p>Just fill out your business information to create your Facebook geo-targeted campaign. </p>
			</div>
			<div class="step-two steps">
				<h2>Personalize Your Ads</h2>
				<p>Choose from one of our pre-written options. You can even preview it before you submit it.
				All ads must comply with the <%= link_to_function ('Terms of Participation', "toggleInfo('form-container')")%> and <a href="http://www.facebook.com/ad_guidelines.php">Facebook Advertising
				Guidelines</a>. Be sure to review both before creating your ad.</p>
			</div>
			<div class="step-three steps">
				<h2>Get Results</h2>
				<p>The results of your campaign will be e-mailed directly to you. It doesn’t get easier than that.</p>
			</div>
		</div>
		<table width="385px">
			<tr>
				<td id="first-name-field">
	  				<%= f.label :first_name, "First Name"%><span class="error"><%= error_message_on @submission, 'first_name'%></span><br/>
    				<%= f.text_field :first_name, :class => 'text_input', :size => '23', :style => 'padding-right:10px;' %>
				</td>
				<td id="last-name-field">
	  				<%= f.label :last_name, "Last Name"%><span class="error"><%= error_message_on @submission, 'last_name'%></span><br/>
    				<%= f.text_field :last_name, :class => 'text_input', :size => '23' %>
				</td>	
			</tr>	
			<tr>
				<td id="business-name-field" colspan="2">
    				<%= f.label :business_name, "Business Name (<input id=\"nameTextCounter\" value=\"#{@submission.business_name ? (25 - @submission.business_name.length) : 25}\" size=\"1\" style=\"color:#414042;text-align:right;\" /> characters remaining)" %><span class="error"><%= error_message_on @submission, 'business_name'%></span><br/>
    				<%= f.text_field :business_name, :class => 'text_input', :size => '52',
    				:id => "business-name-input-field",
    				:onkeyup => "limitNameText();",
    				:onkeydown => "limitNameText();" %>
				</td>
			</tr>
			<tr>
				<td id="fb-page-url-field" colspan="2">
    				<%= f.label :fb_page_url, "Business Facebook Page URL" %> <%= link_to_function image_tag('question.png'), "toggleHelpBubble('fb-page-url-field');"%><span class="error"><%= error_message_on @submission, 'fb_page_url'%></span><br/>
    				<%= f.text_field :fb_page_url, :class => 'text_input', :size => '52',
    				:onkeyup => "hideBusinessField();",
    				:onkeydown => "hideBusinessField();" %>
				</td>
			</tr>
			<tr>
				<td id="fb-page-url-field" colspan="2">
		    		<input type="checkbox" name="no-facebook-business-page" onClick="showBusinessField('website-url-field-container');" id="nofbpagecheckbox" /> Don't have a Business Facebook Page?
				</td>
			</tr>
			<tr>
				<td id="website-url-field" colspan="2">
    				<div id="website-url-field-container" style="display:none;"><%= f.label :website_url, "Business Website URL" %> <%= link_to_function image_tag('question.png'), "toggleHelpBubble('website-url-field');"%><span class="error"><%= error_message_on @submission, 'website_url'%></span><br/>
    				<%= f.text_field :website_url, :class => 'text_input', :size => '52' %></a>
				</td>
			</tr>					
		</table>	
	</div>

	<div id="registration-form-middle">
		<span class="select-pre-written">Select A Pre-Written Message</span>
		<div id="custom-copy-field">
	  		<p><input type="radio" name="submission[custom_copy]" onclick="resetCustomMessage();" 
				value="Shop small at businesses like mine and help support your community." class="pre-written-text"> Shop small at businesses like mine and help support your community.</p>
	  		<!--p><input type="radio" name="submission[custom_copy]" onclick="resetCustomMessage();" 
				value="Stop by my business on the first-ever Small Business Saturday, 11/27." class="pre-written-text"> Stop by my business on the first-ever Small Business Saturday, 11/27.</p-->
	  		<p><input type="radio" name="submission[custom_copy]" onclick="resetCustomMessage();" 
				value="Support businesses like mine and give our local economy a boost." class="pre-written-text"> Support businesses like mine and give our local economy a boost. </p>
		  	<p><input type="radio" name="submission[custom_copy]" onclick="resetCustomMessage();" 
				value="Visit my page to learn about special promotions and deals." class="pre-written-text"> Visit my page to learn about special promotions and deals. </p>

	  		
	  		<p style="display:none"><input type="radio" name="submission[custom_copy]" onclick="document.getElementById('custom-copy-textarea').setStyle('display', 'block');" class="pre-written-text"> Write your own</p>
			
			<div id="custom-copy-textarea" style="display:none;">
 				<%= f.text_area :custom_copy, :class => 'text_input', :id => "custom-copy-textarea-field",
    			:onkeyup => "limitText();",
    			:onkeydown => "limitText();", :cols => "54", :rows => "6" %>
				<div id="text_counter">
				  <input id="textCounter" value="135" size="3" /> characters remaining
				</div>    		
				<div class="legal">All ads must comply with the <%= link_to_function ('Terms of Participation', "toggleInfo('form-container')")%> and <a href="http://www.facebook.com/ad_guidelines.php">Facebook Advertising Guidelines</a> to be published.</div>

	  	</div>
	  	<span class="error"><%= error_message_on @submission, 'custom_copy'%></span>
  	</div>
	</div>

	<div id="registration-form-bottom">	
		<table>
			<tr>
				<td id="email-field" colspan="2">
    				<%= f.label :email, "Contact E-mail" %> <%= link_to_function image_tag('question.png'), "toggleHelpBubble('email-field');"%><span class="error"><%= error_message_on @submission, 'email'%></span><br/>
    				<%= f.text_field :email, :class => 'text_input'%>
				</td>
			</tr>
			<tr>
				<td id="state-field">
		      		<%= f.label :state %><span class="error"><%= error_message_on @submission, 'state'%></span><br/>
		      		<%= f.select :state, State.states_for_select, { :include_blank => '-- Select a state --' },
								:id => 'state', :onchange => 'loadCities();' %>
				</td>
				<td id="city-field">
					<%= f.label :city, "City" %> <%= link_to_function image_tag('question.png'), "toggleHelpBubble('city-field');"%><span class="error"><%= error_message_on @submission, 'city'%></span><br/>
					<div id="city-selector"><%= render :partial => 'cities' %></div>
				</td>
			</tr>
		</table>

		<div class="pick-image-lable">
	  		<%= f.label :image, "Pick Your Image"%><span class="error"><%= error_message_on @submission, 'image'%></span>
  			<%= f.hidden_field :image %>
		</div>
		
		<div id="image-field">
	  		<div id="custom-image-1" onclick="highlight('1')"><%= image_tag('custom_images/1.png')%></div>
	  		<div id="custom-image-2" onclick="highlight('2')"><%= image_tag('custom_images/2.png')%></div>
	  		<div id="custom-image-3" onclick="highlight('3')"><%= image_tag('custom_images/3.png')%></div>
	  		<div id="custom-image-4" onclick="highlight('4')"><%= image_tag('custom_images/4.png')%></div>
	  		<div id="custom-image-5" onclick="highlight('5')"><%= image_tag('custom_images/5.png')%></div>
	  		<div id="custom-image-6" onclick="highlight('6')"><%= image_tag('custom_images/6.png')%></div>  
		</div>
		
		<div id="terms-textarea">
			<%= render :partial => "/tab/rules_short.html.erb" %>
		</div>
		
		<table id="terms-and-submit">
			<tr>
				<td id="terms" width="54%">
				<%= f.check_box :terms, :class => 'text_input' %>
					By checking this box, I certify I am submitting this application on
					behalf of a small business and I signify I have reviewed, understand and
					agree to the above <%= link_to_function ('Terms of Participation', "toggleInfo('form-container')")%>.<br/>
					<span class="error"><%= error_message_on @submission, 'terms'%></span>
				</td>
				<td id="submit-link">
					<%= link_to_function image_tag('/images/preview_ad.png'), "do_submit();", :id => 'submit_button', :class => 'submit' %>
      				<span class="fix_errors"><% if f.error_messages && !f.error_messages.empty? %>
        				<br/>Please fix the fields in red.
      					<% end %></span>
  				</td>
			</tr>
		</table>		
	</div>
  
  <% end %>

</div>
  
		<div style="text-align: center; font-family: Garamond; font-size: 14px;">
			<%= link_to_function ('Legal', "toggleInfo('form-container')")%>
		</div>

<div id="terms-and-conditions" style="display: none;">
	<div class="close-terms"><%= link_to_function ('Close', "closeInfo('form-container')")%></div>
	<div class="terms-header">
		<%= render :partial => "tab/rules_short.html.erb" %>
	</div>
	<div class="terms-footer">&nbsp;</div>
</div>

<div id="fb-page-url-field-help" class="field-help" style="display: none;">
  <div style="text-align: right; font-size: 11px;"><%= link_to_function ('Close', "toggleHelpBubble('fb-page-url-field');")%><br/></div>
  This will allow your customers to "like" your Facebook page right from your ad.
  <%= image_tag('bubblearrow.png', :class => 'bubble-arrow')%>
</div>

<div id="website-url-field-help" class="field-help" style="display: none;">
  <div style="text-align: right; font-size: 11px;"><%= link_to_function ('Close', "toggleHelpBubble('website-url-field');")%><br/></div>
  This will help drive traffic to your website from your ad.
  <%= image_tag('bubblearrow.png', :class => 'bubble-arrow')%>
</div>

<div id="email-field-help" class="field-help" style="display: none;">
  <div style="text-align: right; font-size: 11px;"><%= link_to_function ('Close', "toggleHelpBubble('email-field');")%><br/></div>
  By providing your e-mail address, you agree to receive follow-up communications regarding Small Business Saturday from American Express.
  For information on how we protect your privacy please read our <a href="http://www.americanexpress.com/privacy">Privacy Statement</a>.
  <%= image_tag('bubblearrow.png', :class => 'bubble-arrow')%>
</div>

<div id="city-field-help" class="field-help" style="display: none;">
  <div style="text-align: right; font-size: 11px;"><%= link_to_function ('Close', "toggleHelpBubble('city-field');")%><br/></div>	
  This will be used for Facebook to geotarget your campaign.
  <%= image_tag('bubblearrow.png', :class => 'bubble-arrow')%>
</div>

<script>
<!--
  function do_submit() {
    var tab    = document.getElementById('tab_container');
    var form   = document.getElementById('submission_form');
    var rules  = document.getElementById('submission_terms');
    var fields = form.serialize();

    if (rules.getChecked()) { fields['submission[terms]'] = '1'; }
    
    if (fields['submission']['custom_copy'] == "on") {
      fields['submission']['custom_copy]'] = document.getElementById("custom-copy-textarea-field").getValue();
    }

    var ajax = new Ajax();
    ajax.responseType = Ajax.FBML;
    ajax.requireLogin = false;

    ajax.ondone = function(data) { 
      tab.setInnerFBML(data); 
      document.setLocation("#preview-top");
    }
    ajax.post('<%= callback_url("/submissions") -%>', fields);
  }
  
function highlight(id) {
	// remove highlights from all images
	var els = document.getElementById('image-field').getChildNodes();
	for (var i=0; i<els.length; i++) {
		els[i].setStyle({border: '3px solid transparent'});
	}
	// highlight the selected image
	var el = document.getElementById('custom-image-'+id);
	el.setStyle({ border: '3px solid #c23d3e' });
	// update the image hidden input
	var image_input = document.getElementById('submission_image');
	image_input.setValue('custom_images/' + id + '.png');
}  

function showBusinessField() {
	document.getElementById('website-url-field-container').setStyle('display', 'block');
}

function hideBusinessField() {
  document.getElementById('website-url-field-container').setStyle('display', 'none');
  document.getElementById('nofbpagecheckbox').setChecked(false);
}

function resetCustomMessage() {
  document.getElementById('custom-copy-textarea').setStyle('display', 'none');
  document.getElementById('custom-copy-textarea-field').setValue('');
}

function toggleHelpBubble(field) {
  var bubble = document.getElementById(field + '-help');
  if (bubble.getStyle('display') == 'none') {
    bubble.setStyle('display', 'block');
  } else {
    bubble.setStyle('display', 'none');
  }
}

function limitText() {
  var textfield = document.getElementById("custom-copy-textarea-field");
  if (textfield.getValue().length < 136){
    document.getElementById("textCounter").setValue(136 - textfield.getValue().length);
  } else {
    textfield.setValue(textfield.getValue().substring(0, 136));
  }
}

function limitNameText() {
  var textfield = document.getElementById("business-name-input-field");
  if (textfield.getValue().length < 26){
    document.getElementById("nameTextCounter").setValue(25 - textfield.getValue().length);
  } else {
    textfield.setValue(textfield.getValue().substring(0, 25));
  }
}


function loadCities() {
  var ajax = new Ajax();
	state = document.getElementById("state").getValue();
  ajax.responseType = Ajax.FBML;

	ajax.ondone = function(data) {
		document.getElementById('city-selector').setInnerFBML(data);
	};
	document.getElementById('city-selector').setTextValue("Loading cities...");
  ajax.post('<%= Facebooker.facebooker_config['callback_url'] -%>cities?state='+state);
}

//--></script>


