<div class="preview" id="preview">
<a name="top"></a>
	<div class="ad-preview">
		<div class="adTitle"><%= @submission.business_name %></div>
		<div class="amexColumn right">
			<span class="amexCopy"><%= @submission.custom_copy %></span>
		</div>
		<div class="amexColumn">
			<%= image_tag(@submission.image) if @submission.image%>
		</div>
		<div class="clear"></div>
		<span class="amexCopy">4,321 people like </span><span class="pageName"><%= @submission.business_name %></span>
	</div>
	<div class="navButtons">
		<div class="left">
			<%= tab_link_to image_tag ('/images/previewBtn.png'), edit_submission_path(@submission.id, :canvas => false) %>
		</div>
		<div class="right">
			<%= tab_link_to image_tag ('/images/submitBtn.png'), confirmation_path(:id => @submission.id, :canvas => false)%>
		</div>
		<div class="clear"></div>
		<p class="text-right">All ads must comply with the<br/> <%= link_to_function ('Terms of Participation', "toggleInfo('preview')")%> and
		<a href="http://www.facebook.com/ad_guidelines.php">Facebook Advertising Guidelines</a> to be published.</p>
	</div>
	<div class="footer">
		<div class="amexlogo"><%= image_tag('/images/amex_open_logo.png') %></div>
		<p><%= link_to_function ('Legal', "toggleInfo('preview')")%></p>
	</div>
	
		
</div>		

<div id="terms-and-conditions" style="display: none;">
	<div class="close-terms"><%= link_to_function ('Close', "closeInfo('preview')")%></div>
	<div class="terms-header">
		<%= render :partial => "/tab/rules.html.erb" %>
	</div>
	<div class="terms-footer">&nbsp;</div>
</div>