<div class="terms-copy">
<a name="legal"></a>
<a name="terms-of-participation"></a>
<h1 style="text-align: center;">Small Business Saturday Free $100 Facebook Advertising Program</h1>
<h2 style="text-align: center;">Terms of Participation</h2>

	<p>By participating in the Small Business Saturday Free $100 Facebook Advertising Program (“Program”), you agree to be bound by these Terms of Participation and the decisions of American Express Travel Related Services Company, Inc. (“American Express”) and its agents, which are final and binding on all matters, including, but not limited to, with respect to whether your small business is eligible to participate.</p>

	<p><span class="terms-important">ELIGIBILITY:</span> The Program is only available to small businesses which have a website or Fan Page on Facebook and $10 million in annual revenue or less. By participating in this Program, you represent and warrant that (i) your small business complies with the requirements set forth herein and (ii) you are the owner of the small business and have the right to participate in this Program on behalf of your small business and to grant the rights herein. Program is subject to all applicable federal, state and local laws.</p>

	<p><span class="terms-important">PROGRAM PERIOD:</span> Program is offered on a first come, first serve basis, while supplies of the dedicated advertising inventory lasts. Program will end at 11:59 p.m. ET on November 18, 2010 or whenever supplies of dedicated inventory have been exhausted, whichever is sooner (“Program Period”).</p>

	<p><span class="terms-important">ENROLLMENT:</span> To enroll in the Program, visit <a href="http://www.facebook.com/OPEN">www.facebook.com/OPEN</a> during the Program Period and follow the directions provided to complete and submit the registration information and advertisement submission form as directed (“Ad Form”). Ad Forms are subject to review by (i) American Express and/or its agents and will be rejected if they do not comply with these Terms of Participation and (ii) Facebook and its agents and will be rejected if they do not comply with the <a href="http://www.facebook.com/ad_guidelines.php">Facebook Advertising Guidelines</a>, as American Express and Facebook determine in their sole discretion. Note: American Express does not guarantee that any ad submitted as part of this Program will be run on Facebook or will run for any particular period of time or will run on any particular Facebook pages. Limit one (1) Ad Form per person/small business. Multiple Ad Forms received from the same person/small business will be void. For purposes of this limitation, multiple locations of a business will together constitute one small business.</p>

	<p><span class="terms-important">Facebook Ads that are accepted in connection with this Program will be run on Facebook beginning November 22, 2010 and until the $100 value has been reached.</span></p>

	<p><span class="terms-important">AD STRUCTURE:</span> Facebook Ads made available as part of this Program will be provided as a predetermined template. Limited customization of content of Facebook Ad (not to exceed twenty-five (35) characters for the business name and one hundred thirty five (135) characters for the body copy) will permitted provide such content complies with these Terms of Participation. The actual number of clicks and/or impressions provided as part of the $100 of Facebook Advertising will vary depending on the range of bids that are currently winning any auction among ads similar to yours. <a href="http://www.facebook.com/help/?page=861">Facebook Ads</a> will run throughout site.</p>

	<p><span class="terms-important">AD CONTENT:</span> Your Facebook Ad must be truthful and any claims made therein must be adequately substantiated. Neither the small business nor the content of the Facebook Ad or the website linked to the Facebook Ad can promote any of the following: pharmaceuticals, drugs, politics, pornography or sexual aids, diet aids, gambling, liquor, tobacco, firearms/weapons, or any sensitive topic with respect to current events. <span class="terms-important">In addition, the Facebook Ad may not contain any type of offer, sale, sweepstakes, contest or other promotion of any other kind</span>. Facebook Ad cannot contain content that: (i) is sexually explicit or suggestive; unnecessarily violent or derogatory of any ethnic, racial, gender, religious, professional or age group; profane or pornographic; (ii) is obscene or offensive; endorses any form of hate or hate group; (iii) defames, misrepresents or contains disparaging remarks about American Express or its products or services or other people or companies; (iv) defames or invades the publicity rights or privacy of any person, living or deceased, or otherwise infringe upon any person’s personal or property rights or any other third party rights; (v) communicates messages or images inconsistent with the positive images and/or good will with which American Express and Facebook wish to associate; and/or (vi) violates any law. American Express reserves the right to reject any Facebook Ad that American Express determines, in its sole and absolute discretion, does not meet American Express’s criteria or is otherwise objectionable. American Express also reserves the right to make non-substantive edits to your Facebook As to correct misspellings and grammatical mistakes, write out abbreviations, to fit Facebook Ad t character count, etc.</p>

	<p><span class="terms-important">Notwithstanding its review and/or editing, of any Facebook Ad submitted in this Program, American Express is not responsible for the content of any Facebook Ad. By participating in this Program, you understand and acknowledge that you are solely responsible and agree to accept all liability associated with the content of any Facebook Ad submitted by you.</span></p>

	<p><span class="terms-important">NAME AND TRADEMARK LICENSE:</span> By participating in the Program, you are providing a license for the use of the name of your small business, and your website and/or Fan Page on Facebook in the Facebook Ad and in any advertising and promotion of the Program by American Express.</p>

	<p><span class="terms-important">GENERAL CONDITIONS:</span> By participating, you agree to release, discharge and hold harmless American Express, Facebook, Inc., and their respective parents, affiliates, subsidiaries, and advertising and promotion agencies, and the respective officers, directors, shareholders, employees, agents and representatives of the forgoing (collectively, “Released Parties”) from any and all injuries, liability, losses and damages of any kind to persons, including death, or property resulting, in whole or in part, directly or indirectly, from entrant’s participation in the Program. Released Parties are not responsible for lost, late, incomplete, damaged, inaccurate, stolen, delayed, misdirected, undelivered, or garbled Ad Forms; or for lost, interrupted or unavailable network, server, Internet Service Provider (ISP), website, or other connections, availability or accessibility or miscommunications or failed computer, satellite, telephone or cable transmissions, lines, or technical failure or jumbled, scrambled, delayed, or misdirected transmissions or computer hardware or software malfunctions, failures or difficulties, or other errors or difficulties of any kind whether human, mechanical, electronic, computer, network, typographical, printing or otherwise relating to or in connection with the Program, including, without limitation, errors or difficulties which may occur in connection with the administration of the Program, the processing or reviewing of Ad Forms or in any Program-related materials. Released Parties are not responsible for injury or damage to any person's computer related to or resulting from participating in this Program or downloading materials from or use of the website. Persons who tamper with or abuse any aspect of the Program, who act in an unsportsmanlike or disruptive manner or who are in violation of these Terms of Participation, as solely determined by American Express or its agents, will be disqualified. This Program may be cancelled at any time. CAUTION: ANY ATTEMPT TO DELIBERATELY DAMAGE OR UNDERMINE THE LEGITIMATE OPERATION OF THE PROGRAM MAY BE IN VIOLATION OF CRIMINAL AND CIVIL LAWS AND SHOULD SUCH AN ATTEMPT BE MADE, AMERICAN EXPRESS RESERVES THE RIGHT TO SEEK DAMAGES AND OTHER REMEDIES (INCLUDING ATTORNEYS’ FEES) FROM ANY SUCH INDIVIDUAL TO THE FULLEST EXTENT OF THE LAW, INCLUDING CRIMINAL PROSECUTION.</p>

	<p><span class="terms-important">AMERICAN EXPRESS IS PROVIDING THE PROGRAM "AS IS" WITHOUT ANY EXPRESS OR IMPLIED WARRANTIES INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. AMERICAN EXPRESS IS NOT RESPONSIBLE FOR THE ACTIONS, CONTENT, INFORMATION, OR DATA OF THIRD PARTIES, AND YOU RELEASE THE RELEASED PARTIES FROM ANY CLAIMS AND DAMAGES, KNOWN AND UNKNOWN, ARISING OUT OF OR IN ANY WAY CONNECTED WITH ANY CLAIM YOU HAVE AGAINST ANY SUCH THIRD PARTIES. IF YOU ARE A CALIFORNIA RESIDENT, YOU WAIVE CALIFORNIA CIVIL CODE §1542, WHICH SAYS: "A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM MUST HAVE MATERIALLY AFFECTED HIS SETTLEMENT WITH THE DEBTOR." THE RELEASED PARTIES WILL NOT BE LIABLE TO YOU FOR ANY LOST PROFITS OR OTHER CONSEQUENTIAL, SPECIAL, INDIRECT, OR INCIDENTAL DAMAGES ARISING OUT OF OR IN CONNECTION WITH THIS STATEMENT OR THE PROGRAM, EVEN IF THEY, OR ANY OF THEM, HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE RELEASED PARTIES’ AGGREGATE LIABILITY ARISING OUT OF THIS STATEMENT OR THE PROGRAM WILL NOT EXCEED THE GREATER OF ONE HUNDRED DOLLARS ($100). APPLICABLE LAW MAY NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY OR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU. IN SUCH CASES, THE RELEASED PARTIES’ LIABILITY WILL BE LIMITED TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW.</span></p>

	<p><span class="terms-important">DISPUTES:</span> This Program shall be governed by and interpreted under the laws of the State of New York, U.S.A. without regard to its conflicts of laws provisions. You hereby agree that any and all disputes, claims, causes of action, or controversies (“Claims”) arising out of or in connection with this Program or these Terms of Participation shall be resolved, upon the election by you or American Express, by arbitration pursuant to this provision and the code of procedures of either the Judicial Arbitration and Mediation Services, Inc. (“JAMS”) or the American Arbitration Association (“AAA”), as selected by the entrant. In addition to JAMS or AAA, Claims may be referred to any other arbitration organization that is mutually agreed upon in writing by you and American Express, or to an arbitration organization or arbitrator(s) appointed pursuant to Section 5 of the Federal Arbitration Act, 9 U.S.C. Sections 1-16, provided that any such arbitration organization and arbitrator(s) will enforce the terms of the restrictions on arbitration provision set forth below. IF ARBITRATION IS CHOSEN BY ANY PARTY WITH RESPECT TO A CLAIM, NEITHER PARTY WILL HAVE THE RIGHT TO LITIGATE THAT CLAIM IN COURT OR HAVE A JURY TRIAL ON THAT CLAIM. FURTHER, NEITHER YOU NOR AMERICAN EXPRESS WILL HAVE THE RIGHT TO PARTICIPATE IN A REPRESENTATIVE CAPACITY ON BEHALF OF THE GENERAL PUBLIC OR OTHER PERSONS SIMILARLY SITUATED, OR AS A MEMBER OF ANY CLASS OF CLAIMANTS PERTAINING TO ANY CLAIM SUBJECT TO ARBITRATION. EXCEPT AS SET FORTH BELOW, THE ARBITRATOR’S DECISION WILL BE FINAL AND BINDING. NOTE THAT OTHER RIGHTS THAT ENTRANT WOULD HAVE IF ENTRANT WENT TO COURT ALSO MAY NOT BE AVAILABLE IN ARBITRATION. The arbitrator’s authority to resolve Claims is limited to Claims between American Express and you alone, and the arbitrator’s authority to make awards is limited to awards to American Express and you alone. Furthermore, claims brought by either party against the other may not be joined or consolidated in arbitration with Claims brought by or against any third party, unless agreed to in writing by all parties. No arbitration award or decision will have any preclusive effect as to issues or claims in any dispute with anyone who is not a named party to the arbitration. Notwithstanding any other provision in these Terms of Participation and without waiving either party’s right to appeal such decision, should any portion of this provision be deemed invalid or unenforceable, then the entire provision (other than this sentence) shall not apply.</p>

	<p><span class="terms-important">PERSONAL INFORMATION:</span> By providing your e-mail address, you agree to receive follow-up communications regarding Small Business Saturday from American Express. For information on how we protect your privacy, please read our <a href="http://www.americanexpress.com/privacy">Privacy Statement</a>.</p>
	
</div>


