<fb:comments xid="<%= Facebooker.facebooker_config['application_id'] %>" canpost="true" candelete="false" callbackurl="<%= Facebooker.facebooker_config['callback_url'] %>fb_comments">
<fb:title>Enter your comments below:</fb:title>
</fb:comments>