

<div id="open-landing" style="display: block;">
	<div id="open-header">
		<div class="header-copy">
			<p>Make the most of the first-ever Small Business Saturday<sup>SM</sup>,<br/>
			November 27, 2010. A day to come together in support of small businesses<br/>like yours. The businesses that are the heartbeat of our communities<br/>
			and local economies.</p>
			<p>Join the movement, and help spread the word about your business with<br/>
			$100 of free Facebook advertising and other promotional tools.*</p>
		</div>
	</div>


  <% if params[:fb_sig_page_id] == "129918700359328" || params[:fb_sig_page_id] == "6185812851" || params[:fb_sig_page_id] == "115177661879591" || params[:fb_sig_page_id] == "127200177337447"%>
        <style>
        .show_connected, .comment_body {
          display: none;
        }
        </style>
  
      	<div id="open-reach-out-tall">
      		<p class="reach-copy">Get <span class="red">$100 of FREE</span>, customizable<br/>Facebook advertising.</p>
      		<%= tab_link_to image_tag('/images/get_free_ads_button.png'), new_submission_path(:canvas => false) %><br/>
			<span class="terms"><%= link_to_function ('*Terms of Participation', "toggleInfo('open-landing')")%> apply</span>
			<div class="like-button-holder">
				<fb:comments xid="amex_sbs_open_23598" canpost="false" candelete="false" simple="true" returnurl="http://www.facebook.com/SmallBusinessSaturday" callbackurl="http://www.facebook.com/SmallBusinessSaturday"></fb:comments>
			</div>
      	</div>  
  
  <% else %>	
      <% if fan? %>
      	<div id="open-reach-out">
      		<p class="reach-copy">Get <span class="red">$100 of FREE</span>, customizable<br/>Facebook advertising.</p>
      		<%= tab_link_to image_tag('/images/get_free_ads_button.png'), new_submission_path(:canvas => false) %><br/>
		<span class="terms"><%= link_to_function ('*Terms of Participation', "toggleInfo('landing')")%> apply</span>
      	</div>
      <% else %>
      	<div id="open-reach-out-non-fan">

      	</div>
      <% end %>	
  <% end %>


	<div id="open-shout">
		<div class="shout">
			<div class="input-box">
				<input id="shout-out-field" type="text" name="shout-out-field" />
			</div>	
			<%= link_to_function image_tag('/images/facebook_logo.png'), "do_fb_share()", :class => 'fb-shout' %>
			<%= link_to_function image_tag('/images/twitter_logo.png'), "do_twitter_share()", :class => 'twit-shout'%>
		</div>
		<p class="shout-copy">In support of the day, American Express is helping to drive customers to your business by giving registered
			Cardmembers $25 back when they use their Card at small businesses on Small Business Saturday.</p>
		<div class="share-offer">
			<%= link_to_function image_tag('/images/facebook_logo.png'), "do_share()" %>
			<%= link_to image_tag('/images/twitter_logo.png'), "http://twitter.com/home?status=Enroll To Get $25 Back from AMEX OPEN.  http://www.facebook.com/amex", :target => "_blank" %>
		</div>
		<span class="terms"><%= link_to_function ('View Terms and Conditions', "toggleInfo('open-landing')")%></span>
		<p class="enroll-copy">Are you a Cardmember? <a href="https://enroll.amexnetwork.com/US/sbs?extlink=em-open-2010sbs-open">Register your Card</a></p>
	</div>
	<div id="open-bottom">
		<div id="embed-code-container">
			<span>Copy and Paste HTML to embed in website</span>
			<div class="input-box">
				<input id="embed-code-field" type="text" name="embed-code-field" onClick="select_all('embed-code-field');"/>
			</div>
		</div>
		<%= link_to_function image_tag('/images/for_website_button.png'), "show_embed_code()" %>
		<%= link_to image_tag('/images/for_store_button.png'), "http://cdn.vitrue.com/vitrue/amex/downloads/for_your_store.pdf" %>			
	<div class="get-tips">
		<div class="tips">
			<%= link_to image_tag('/images/tips_video.png'), "http://www.facebook.com/video/video.php?v=628482883103#!/video/video.php?v=682899367033" %>
			<%= link_to image_tag('/images/tips_link.png'), "http://www.openforum.com/idea-hub/topics/technology/article/why-your-business-needs-to-be-on-facebook-adam-ostrow" %>
			<%= link_to image_tag('/images/tips_pdf.png'), "http://cdn.vitrue.com/vitrue/amex/downloads/OPEN_PDF_for_download.pdf" %>			
		<div class="get-tips">
			<p>To help build excitement for the day, American Express is spreading the word<br/>about Small Business Saturday to your customers.<br/><br/><a href="#">See how we’re supporting the movement</a></p>
		</div>
	</div>
</div>
<div class="footer-terms">
	<p><%= link_to_function ('Legal', "toggleInfo('open-landing')")%></p>
</div>
</div>

<div id="terms-and-conditions" style="display: none;">
	<div class="close-terms"><%= link_to_function ('Close', "closeInfo('open-landing')")%></div>
	<div class="terms-header">
		<%= render :partial => "rules.html.erb" %>
	</div>
	<div class="terms-footer">&nbsp;</div>
</div>


<script>
<!-- 
function show_embed_code() {
	var container = document.getElementById('embed-code-container');
	var textfield = document.getElementById("embed-code-field");
	
	  if ( container.getStyle('display') == 'none') {
	    container.setStyle('display', 'block');
	
		if (textfield.getValue().length < 1){
		    textfield.setValue('some embed code...')
		  }
		
		textfield.focus();
	    textfield.select();
	  } else {
	    container.setStyle('display', 'none');
	  }
}

function select_all(id)
{
    document.getElementById(id).focus();
    document.getElementById(id).select();
}


function do_share() {
  var attachment = {'description': 'As part of our commitment to supporting small businesses, American Express is giving registered Cardmembers a $25 statement credit when they use their Card at small businesses on Small Business Saturday. View Terms and Conditions',
                    'name': 'Enroll To Get $25 Back',
                    'href': 'http://www.facebook.com/amex'}; 
  Facebook.streamPublish('', attachment);
}
-->
</script>