<fb:user-agent includes="ie">
<style>
#open-landing p {
	font-family: Times;
}

#open-header div.header-copy p {
	font-size: 11px;
}

#open-shout p {
	font-size: 12px;
	font-weight:normal;
}

.get-tips p {
	font-size: 12px;
	font-weight: normal;
}


</style>
</fb:user-agent>

<fb:user-agent includes="firefox">
  <style>
		.like-button-holder {
			margin-left:160px;
			margin-top:-20px;
			margin-bottom:3px;
		}
  </style>
</fb:user-agent>

<fb:user-agent includes="webkit">
<style>
.like-button-holder {
  margin-left: 160px;
  margin-top: -20px;
  margin-bottom:3px;
}
</style>
</fb:user-agent>

<fb:user-agent includes="ie 7">
<style>
div.connect_button_container {
padding-left: 45px;
padding-top: 5px;
}

span.connect_widget_connected_text {
	display: block !important;
	padding-right: 5px;
	padding-top: 4px;
	margin-left:18px;
}


#open-landing .shout .twit-shout {
	padding-left: 0;
}

#open-landing .shout .fb-shout {
	margin-left: 70px;
}

#open-landing .share-offer {
	margin-left:0 !important;
}

p.shout-copy {
	padding-left:0;
}

p.reach-copy {
	padding-top: 10px;
}

.like-button-holder {
	margin-left:-30px;
	margin-top:-12px;
	margin-bottom: 3px;
}

</style>
</fb:user-agent>

<fb:user-agent includes="ie 8">
<style>
div.connect_button_container {
padding-left: 90px;
padding-top: 5px;
}

span.connect_widget_connected_text {
	display: block !important;
	padding-right: 5px;
	padding-top: 4px;
	margin-left: 18px;
}

.connect_widget .connect_widget_text {
	padding-left: 25px;
	padding-top: 4px;
}

.like-button-holder {
	margin-left:140px;
	margin-top:-23px;
	margin-bottom:3px;
}

</style>
</fb:user-agent>
<div id="open-landing" style="display: block;">


  <% if params[:paused] == "1" %>
	<div id="open-header" style="height:351px;">
		<div class="header-copy">
			<p>Make the most of the first-ever Small Business Saturday<sup>SM</sup>,<br/>
			November 27, 2010. A day to come together in support of small businesses<br/>like yours. The businesses that are the heartbeat of our communities<br/>
			and local economies.</p>
			<p>Join the movement, and help spread the word about your business with<br/>
			$100 of free Facebook advertising and other promotional tools.*</p>
			<p class="pasued">Registration for the Facebook ad give away is currently closed. Please stay tuned for additional information about upcoming offers and in the meantime take advantage of the promotional tools on this page.
			  <br/><b>All the best on this Small Business Saturday.</b></p>
		</div>
	</div>
	<div id="open-reach-out-short">&nbsp;</div>
  <% elsif params[:paused] == "2" %>
	<div id="open-header" style="height:351px;">
		<div class="header-copy">
			<p>Make the most of the first-ever Small Business Saturday<sup>SM</sup>,<br/>
			November 27, 2010. A day to come together in support of small businesses<br/>like yours. The businesses that are the heartbeat of our communities<br/>
			and local economies.</p>
			<p>Join the movement, and help spread the word about your business with<br/>
			$100 of free Facebook advertising and other promotional tools.*</p>
			<p class="pasued">The Facebook ad give away is now closed. Please take advantage of the promotional tools on this page and tune in for daily business tips on <a href="http://www.facebook.com/OPEN">facebook.com/OPEN</a>.
				<br/><b>All the best on this Small Business Saturday.</b></p>
		</div>
	</div>
	<div id="open-reach-out-short">&nbsp;</div>
	
  <% else %>
  	<div id="open-header">
  		<div class="header-copy">
			<p><span class="red">Make the most of the first-ever Small Business Saturday<sup>SM</sup>, November 27, 2010.</span><br/>
			A day to come together in support of small businesses like yours. <br/>
			The businesses that enrich our communities and drive local economies.</p>
		</div>
  	</div>
    <style>
    .show_connected, .comment_body {
      display: none;
    }
    </style>

    	<div id="open-reach-out-tall">
    		<p class="reach-copy">Get  
  	<span class="red">$100 of FREE</span><br> Facebook advertising.</p>

	<div class="like-button-holder">
			<fb:comments xid="amex_sbs_open_2359esrg8" canpost="false" candelete="false" simple="true" returnurl="http://www.facebook.com/open" callbackurl="http://www.facebook.com/open"></fb:comments>
	</div>
    		<%= tab_link_to image_tag('/images/get_free_ads_button.png'), new_submission_path(:canvas => false) %><br/>
  	<span class="terms"><%= link_to_function ('Terms of Participation', "toggleInfo('open-landing', 'terms-of-participation')")%> apply</span>

    </div>
	<% end %>

	<div id="open-shout">
		<div class="shout">
			<div class="input-box">
				<input id="shout-out-field" type="text" name="shout-out-field" />
			</div>	
			<%= link_to_function image_tag('/images/facebook_logo.png?x10'), "do_fb_share()", :class => 'fb-shout' %>
			<%= link_to_function image_tag('/images/twitter_logo.png?x10'), "do_twitter_share()", :class => 'twit-shout'%>
		</div>
		<p class="shout-copy">In support of the day, American Express is helping to drive customers to your business by giving
			registered Cardmembers $25 back when they use their Card at small businesses on Small Business Saturday.</p>
		<div class="share-offer">
			<%= link_to_function image_tag('/images/facebook_logo.png?x10'), "do_share()" %>
			<%= link_to image_tag('/images/twitter_logo.png?x10'), "http://twitter.com/home?status=Amex gives $25 back to 100,000 Cardmembers who register and shop at a small biz on %23SmallBusinessSaturday http://bit.ly/cG7dn0", :target => "_blank" %>
		</div>
		<span class="terms"><%= link_to_function ('View Terms and Conditions', "toggleInfo('open-landing', 'terms-and-conditions')")%></span>
		<p class="enroll-copy">Are you a Cardmember? <a href="https://enroll.amexnetwork.com/US/sbs?extlink=em-open-2010sbs-open">Enroll for your $25</a></p>
	</div>
	<div id="open-bottom">
		<div id="embed-code-container" style="display:none;">
			<span>Copy and Paste HTML to embed in website</span>
			<div class="input-box">
				<input id="embed-code-field" type="text" name="embed-code-field" onClick="select_all('embed-code-field');"/>
			</div>
		</div>
		<%= link_to_function image_tag('/images/for_website_button.png'), "show_embed_code()", :class => 'for-website-button' %>
		<%= link_to image_tag('/images/for_store_button.png'), "http://cdn.vitrue.com/vitrue/amex/downloads/SBS-for_your_store.pdf", :class => 'for-store-button' %>
	<div class="get-tips">
		<div class="tips">
			<%= link_to image_tag('/images/tips_video.png'), "http://www.facebook.com/video/video.php?v=628482883103#!/video/video.php?v=682899367033" %>
			<%= link_to image_tag('/images/tips_link.png'), "http://www.openforum.com/idea-hub/topics/technology/article/why-your-business-needs-to-be-on-facebook-adam-ostrow" %>
			<%= link_to image_tag('/images/tips_pdf.png'), "http://cdn.vitrue.com/vitrue/amex/downloads/OPEN_PDF_for_download.pdf" %>			
		<div class="get-tips">
			<p>To help build excitement for the day, American Express is spreading the word<br/>about Small Business Saturday to your customers.<br/><br/><a href="http://www.facebook.com/SmallBusinessSaturday?v=app_165267296827487">See how we’re supporting the movement</a></p>
		</div>
	</div>
</div>
<div class="footer-terms">
	<p><%= link_to_function ('Terms of Participation for Small Businesses', "toggleInfo('open-landing', 'legal')")%></p>
</div>
</div>
</div>
<div id="terms-and-conditions" style="display: none;">
	<div class="close-terms"><%= link_to_function ('Close', "closeInfo('open-landing')")%></div>
	<div class="terms-header">
		<%= render :partial => "rules.html.erb" %>
	</div>
	<div class="terms-footer">&nbsp;</div>
</div>

<script>
<!-- 
function show_embed_code() {
	var container = document.getElementById('embed-code-container');
	var textfield = document.getElementById("embed-code-field");
	
	  if ( container.getStyle('display') == 'none') {
	    container.setStyle('display', 'block');
	
		if (textfield.getValue().length < 1){
		    textfield.setValue('<div style="width:300px; height:250px"><a href="http://www.facebook.com/SmallBusinessSaturday"><img src="http://cdn.vitrue.com/vitrue/amex/images/embedAd.png"/></a></div>')
		  }
		
		textfield.focus();
	    textfield.select();
	  } else {
	    container.setStyle('display', 'none');
	  }
}

function select_all(id)
{
    document.getElementById(id).focus();
    document.getElementById(id).select();
}


function do_share() {
  var attachment = {'media':[{'type':'image','src':'<%= image_path('fb-sbs-logo2.gif')%>','href':'http://www.facebook.com/SmallBusinessSaturday?v=app_127200177337447'}],
                    'description': 'As part of our commitment to supporting small businesses, American Express is giving registered Cardmembers a $25 statement credit when they use their Card at small businesses on Small Business Saturday. View Terms and Conditions',
                    'name': 'Enroll To Get $25 Back',
                    'href': 'http://www.facebook.com/SmallBusinessSaturday'}; 
  Facebook.streamPublish('', attachment);
}
-->
</script>