<fb:user-agent includes="ie">
<style>

.intro-paragraph p {
	font-family: Times;
	font-size: 12px;
}

.sbs-donation p, .sbs-description p {
	font-size: 11px;
	font-family: Times;
}

.sbs-description p {
	line-height: 16px;
	font-weight: normal;
}

.sbs-description .terms {
	margin-top: 10px;
	font-size: 10px;
	font-family: Times;	
}

.help-spread p {
	font-size: 12px;
	font-family: Times;	
}

</style>
</fb:user-agent>

<fb:user-agent includes="ie 7">
<style>
#landing .fb-shout {
left:390px;
top: 1px;
position:absolute;
}

#landing .twit-shout {
left:421px;
top: 1px;
position:absolute;
}


</style>
</fb:user-agent>


<div id="landing" style="display: block;">
	<div class="intro-paragraph">
		<% if fan? || corp_page? %>

		  <p>A day to come together in support of the small businesses we love.<br/>
  		The businesses that are the heartbeat of our communities and local economies.<br/>
  		That day is November 27, 2010—the first-ever Small Business Saturday<sup>SM</sup>.<br/>

		  <span class="red">Join the movement, spread the word.</span>
    <% else %>
    
		<p>The first-ever Small Business Saturday<sup>SM</sup> is November 27, 2010.<br/>
		  It's one day to support the small businesses that are getting our economy going again.<br/>    
		  <span class="red">Join the movement by <b>clicking the “like” button</b> above.</span>
		<% end %>
		
		</p>
	</div>
	
  <% if corp_page? %>
	<!-- App is living somewhere other than facebook.com/sbs, so, we don't have a like gate, but we do have a like button on the page -->
  <!-- This view is surfaced on fb.com/americanexpress -->
      <style>
      #landing {
      	background: url('<%= image_path ("/images/landing_background2.png?63dht5g58") %>') no-repeat;
      	width: 520px;
      	display: block;
      	min-height: 1440px;
      }
      </style>
			<% Reportable.report(:corp_corp_view, :fb_user => current_user) %>


	<div class="like-callout">
	<fb:comments xid="amex_sbs_open_2359esrg8" canpost="false" candelete="false" simple="true" returnurl="http://www.facebook.com/open" callbackurl="http://www.facebook.com/open"></fb:comments>
	</div>
	<% else %>
  <!-- App IS living on facebook.com/sbs, so, we have our like gate  -->


      <% if fan? %>
				<% Reportable.report(:sbs_corp_view_liked, :fb_user => current_user) %>
        <style>
        #landing {
        	background: url('<%= image_path ("/images/landing_background-fan2.png?65dhr37ger3567") %>') no-repeat;
        	width: 520px;
        	display: block;
        	min-height: 1440px;
        }
      
        #fb-like-share-link {
          height:16px;
          left:73px;
          position:absolute;
          text-align:right;
          top:340px;
          width:52px;
        }
        </style>

        <%= link_to_function("Share", "do_fb_like_share()", :id => "fb-like-share-link") %>

      <% else %>
			<% Reportable.report(:sbs_corp_view_unliked, :fb_user => current_user) %>

      <style>
      #landing {
      	background: url('<%= image_path ("/images/landing_background-nonfan2.png?s3hhg57556") %>') no-repeat;
      	width: 520px;
      	display: block;
      	min-height: 1440px;
      }
      </style>
      <% end %>

	<div class="like-callout">
	</div>
	<% end %>
	<div class="sbs-donation">
		<p><span class="bold red">Show your support for small businesses.</span> 
			“Like” Small Business Saturday above and American Express will donate 
			<span class="red money">$1</span> —up to <span class="red money">$500,000</span>— to Girls Inc. to teach young women to be the entrepreneurs of tomorrow.
		</p>
		</div>
	<div class="sbs-description">
		<p>As part of our commitment to supporting small businesses, American Express is giving registered Cardmembers a $25 statement credit when they shop at small businesses on Small Business Saturday.
		</p>
		<div class="terms" style="margin-top: -5px;"><%= link_to_function ('Terms and Conditions', "toggleInfo('landing', 'terms-and-conditions')")%></div>
	</div>
	<div class="enroll"><%= link_to image_tag ('/images/enroll_button.png'), "https://enroll.amexnetwork.com/US/sbs?extlink=em-open-2010sbs-open" %></div>
	<div class="share-offer">
	  <%= link_to_function "", "do_share()", :class => "fb-share"%>
	  <%= link_to "", "http://twitter.com/home?status=Amex gives $25 back to 100,000 Cardmembers who register and shop at a small biz on %23SmallBusinessSaturday http://bit.ly/cG7dn0", :target => "_blank", :class => "twitter-share"%>
		<p>Share this offer</p>
	</div>
	<div class="shout">
		<div class="input-box">
			<input id="shout-out-field" type="text" name="shout-out-field" />
		</div>	
		<%= link_to_function image_tag('/images/facebook_logo.png?x10'), "do_fb_share()", :class => 'fb-shout' %>
		<%= link_to_function image_tag('/images/twitter_logo.png?x10'), "do_twitter_share()", :class => 'twit-shout'%>
	</div>
	<div class="conversations">
	  <% if @conversations %>
  	  <% @conversations.each do |post| %>
  	    <div class="twitter-post">
  	      <div class="twitter-image">
  	        <%= image_tag(post["profile_image_url"])%>
  	      </div>
  	      <div class="twitter-name">
  	        <%= post["from_user"].capitalize%>
  	      </div>
  	      <div class="twitter-body">
  	        <%= post["text"]%>
  	      </div>
  	    </div>
  	  <% end %>
  	<% end %>
	</div>
	<div class="help-spread">
		<p>Help spread the word about your business with<br/> free Facebook advertising and other promotional tools.</p>
		<p><br/><%= link_to image_tag ('/images/get_free_tools_button.png'), "http://www.facebook.com/SmallBusinessSaturday?v=app_121714311223837" %></p>
		<p class="spread-terms"><br/><%= link_to_function ('View Terms of Participation', "toggleInfo('landing', 'terms-of-participation')")%></p>
	</div>	
	<div class="footer-terms" style="margin-top: 20px; left: 241px">
		<p><br/><br/><%= link_to_function ('Legal', "toggleInfo('landing', 'legal')")%></p>
	</div>
</div>
</div>

<div id="terms-and-conditions" style="display: none;">
	<div class="close-terms"><%= link_to_function ('Close', "closeInfo('landing')")%></div>
	<div class="terms-header">
		<%= render :partial => "rules.html.erb" %>
	</div>
	<div class="terms-footer">&nbsp;</div>
</div>	
<%= tab_link_to "To OPEN landing page", showopen_path(:fan => fan? ? "1" : "0", :canvas => false)%>
<script>
<!-- 
function do_share() {
  var attachment = {'media':[{'type':'image','src':'<%= image_path('fb-sbs-logo2.gif')%>','href':'http://www.facebook.com/SmallBusinessSaturday?v=app_127200177337447'}],
                    'description': 'As part of our commitment to supporting small businesses, American Express is giving registered Cardmembers a $25 statement credit when they use their Card at small businesses on Small Business Saturday. View Terms and Conditions',
                    'name': 'Enroll To Get $25 Back',
                    'href': 'http://www.facebook.com/SmallBusinessSaturday'}; 
  Facebook.streamPublish('', attachment);
}

function do_fb_like_share(){
  var attachment = {'media':[{'type':'image','src':'<%= image_path('fb-sbs-logo2.gif')%>','href':'http://www.facebook.com/SmallBusinessSaturday?v=app_165267296827487'}],
                    'description': 'This year, November 27th is the first ever Small Business Saturday, a day to support the local businesses that create jobs, boost the economy and preserve neighborhoods around the country.  \"Like\" Small Business Saturday and American Express will donate $1 - up to $500,000 - to Girls Inc. to teach and empower young women to be the entrepreneurs of tomorrow.',
                    'name': '\"Like\" Small Business Saturday and help Girls Inc!',
                    'href': 'http://www.facebook.com/SmallBusinessSaturday?v=app_165267296827487'}; 
  Facebook.streamPublish('', attachment);  
}
-->
</script>