<img src="/images/loading-spinner.gif"/>
<script language="javascript">
  $('#fb-root').bind('fb-init', function(event) {
    window.parent.location = '<%="#{fb_redirect_to_tab_url}&app_data=#{CGI.escape @params.to_json}".html_safe%>';
    //console.log("yo");
  });
</script>
