<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="author" content="Vitrue">
    <%= stylesheet_link_tag    'admin'                     -%>
    <%= javascript_include_tag 'admin', 'jquery-1.4.2.min' -%>
    <title>AMEX SBS :: Admin</title>
  </head>
  <body>
    <div id="admin_wrap">
      <img alt="" id="header"
        src="http://vitrue.com/templates/vitruecms/images/header.jpg">

      <div id="admin">
	    <h2>Total Submissions: <%=h @submissions %></h2>
	    - <%= link_to "Download Submissions CSV", submissions_csv_path %>


        <br style="clear: both;" />

        <% unless flash.empty? %>
          <div id="flash">
            <%= flash[:notice] -%>
          </div>
        <% end %>

        <%= yield -%>
      </div>

      <img alt="" id="footer"
        src="http://vitrue.com/templates/vitruecms/images/footer.jpg">
    </div>
  </body>
</html>