<%= inline_css 'style.css'      -%>
<%= inline_js  'application.js' -%>
<a name="preview-top"></a>
<img id="tab_spinner" alt="..." style="margin: 125px auto; display: none;" />
<div id="tab_container">
  <!-- *all* contents of this <div> will be replaced on page transitions -->
  <%= yield -%>
</div>

<script>
<!-- 
function do_fb_share() {
  var fb_text = document.getElementById('shout-out-field').getValue();
  
  <% if params[:action] == "showopen" %>
  var attachment = {'media':[{'type':'image','src':'<%= image_path(params[:action] == "show" ? 'fb-sbs-logo2.gif' : 'custom_images/4.png')%>','href':'http://www.facebook.com/SmallBusinessSaturday?v=app_127200177337447'}],
                    'description': 'When you Shop Small on Small Business Saturday you\'re not just helping local businesses.  You\'re also supporting the people who work there and the communities they serve.  Spread the word!',
                    'name': 'November 27th is the first-ever Small Business Saturday',
                    'href': 'http://www.facebook.com/SmallBusinessSaturday?v=app_165267296827487'}; 
  <% else %>
  var attachment = {'media':[{'type':'image','src':'<%= image_path(params[:action] == "show" ? 'fb-sbs-logo2.gif' : 'custom_images/4.png')%>','href':'http://www.facebook.com/SmallBusinessSaturday?v=app_127200177337447'}],
                    'description': 'The first-ever Small Business Saturday is November 27th, 2010.  \"Like\" the day on Facebook and American Express will donate $1 for each \"Like\" - up to $500,000 - to Girls Inc. to empower young women to be the entrepreneurs of tomorrow. ',
                    'name': 'I support small businesses.  You can too!',
                    'href': 'http://www.facebook.com/SmallBusinessSaturday?v=app_165267296827487'};  
  <% end %>
  Facebook.streamPublish(fb_text, attachment);
}

function do_twitter_share() {
  var fb_text = "Shop Small at @" + document.getElementById('shout-out-field').getValue() + " %23SmallBizSat";
  document.setLocation("http://twitter.com/home/?status=" + fb_text);
}


function pageScroll() {
    	//window.scrollBy(0,0); // horizontal and vertical scroll increments
    	//scrolldelay = setTimeout('pageScroll()',100); // scrolls every 100 milliseconds
    	document.setLocation("#preview-top");
}

-->
</script>