body {
	margin: 0;
	padding: 0;
}

#top-welcome {
	background-image: url('/images/headline_main_background.jpg');
	background-repeat: no-repeat;
	height: 66px;
	position: absolute;
	width: 520px;
}

#banner {
	height: 361px;
	position: absolute;
	top: 66px;
	width: 520px;
}

.banner-carousel {
	height: 361px;
}

.banner-carousel li {
	height: 361px;
	margin: 0;
	width: 520px;
}

.banner-carousel img {
	display: block;
	height: 361px;
	width: 520px;
}

.banner-carousel #media-container{
	background: url("/images/banner_video/video_bg.png") no-repeat;
	display: block;
	height: 230px;
	left: 20px;
	padding-left: 6px;
	padding-top: 5px;
	position: relative;
	top: -370px;
	width: 267px;  
}

.banner-carousel #media-container #jwp-container_wrapper{
	position: relative;
	top: 0px;
	left: 0px;
	width: 260px;
	height: 180px;
	z-index: 5;
}

.banner-carousel #media-container ol#jwp-playlist{
	/*float: left;*/
  position: relative !important;
  top: 0px;
	left: 0px !important;
  width: 282px !important;
	height: 50px !important;
	z-index: 10;
	list-style: none;
	padding: 0;
	margin: 0;
}

#media-container ol#jwp-playlist li.jwp-playlist-item{
	float:left !important;
	width: 67px !important;
	height: 50px;
}

#media-container  ol li .thumbnail{
	position:relative;
	height: 34px;
	margin-right: 7px;
	width: 60px;
	border-style: none;
}

#media-container  ol li a{
	border-style: none;
}

#jwp-container img#placeholder{
	width: 260px;
	height: 175px;
	border-style: none;
}



.previous-banner {
	background-color: transparent;
	background-image: url('/images/main_banner_nav_previous.png');
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	height: 9px;
	left: 417px;
	position: absolute;
	top: 306px;
	width: 12px;
	z-index: 10;
}

.next-banner {
	background-color: transparent;
	background-image: url('/images/main_banner_nav_next.png');
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	height: 9px;
	left: 463px;
	position: absolute;
	top: 306px;
	width: 12px;
	z-index: 10;
}

#banner-one-current {
	display: block;
	height: 9px;
	left: 432px;
	position: relative;
	top: -126px;
	width: 12px;
	z-index: 10;
}

#banner-one-next {
	display: block;
	height: 9px;
	left: 446px;
	position: relative;
	top: -135px;
	width: 12px;
	z-index: 10;
}

#banner-two-previous {
	display: block;
	height: 9px;
	left: 432px;
	position: relative;
	top: -109px;
	width: 12px;
	z-index: 10;
}

#banner-two-current {
	display: block;
	height: 9px;
	left: 446px;
	position: relative;
	top: -118px;
	width: 12px;
	z-index: 10;
}

#banner-one-like {
	cursor: pointer;
	display: block;
	height: 24px;
	left: 322px;
	overflow: hidden;
	position: relative;
	top: -140px;
	width: 51px;
}

#banner-two-like {
	cursor: pointer;
	display: block;
	height: 24px;
	left: 350px;
	overflow: hidden;
	position: relative;
	top: -235px;
	width: 51px;
}

#watch-now {
	background-image: url('/images/button_watch_now.jpg');
	background-repeat: no-repeat;
	display: block;
	height: 47px;
	left: 321px;
	position: relative;
	top: -145px;
	width: 116px;
}

#discover-scent {
	background-image: url('/images/button_discover_your_scent.jpg');
	background-repeat: no-repeat;
	display: block;
	height: 30px;
	left: 180px;
	position: relative;
	top: -70px;
	width: 160px;
}

#middle-headline {
	height: 51px;
	position: absolute;
	top: 427px;
	width: 520px;
}

#video-area {
	height: 250px;
	position: absolute;
	top: 478px;
	width: 520px;
}

.video-carousel {
	*height: 213px !important;
	top: -4px\9;
	width: 220px;
}

.video-carousel li {
	*margin-bottom: -6px;
}

.video-carousel img {
	cursor: pointer;
	display: block;
	height: 71px;
	width: 220px;
}

.previous-video {
	background-image: url('/images/flash_nav_up.jpg');
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	height: 17px;
	padding: 0;
	position: relative;
	width: 220px;
	z-index: 51;
}

.next-video {
	background-image: url('/images/flash_nav_down.jpg');
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	height: 17px;
	padding: 0;
	position: relative;
	top: -4px\9;
	width: 220px;
	z-index: 52;
}

#video-container {
	background-color: #101010;
	height: 250px;
	left: 220px;
	position: relative;
	top: -247px;
	top: -255px\9;
	*top: -247px;
	width: 300px;
	z-index: 30;
}

#buy-now-regenerist {
	cursor: pointer;
	display: block;
	height: 17px;
	left: 226px;
	position: relative;
	top: -20px;
	width: 67px;
	z-index: 61;
}

#bottom-headline {
	background-image: url('/images/background_module3a.jpg');
	background-repeat: no-repeat;
	height: 299px;
	position: absolute;
	top: 725px;
	*top: 721px;
	width: 520px;
}

#olay-for-you {
	cursor: pointer;
	display: block;
	height: 59px;
	left: 13px;
	position: relative;
	top: 8px;
	width: 494px;
}

/*
#app-store {
	background-image: url('/images/button_app_store.jpg');
	background-repeat: no-repeat;
	cursor: pointer;
	display: block;
	height: 21px;
	left: 20px;
	position: relative;
	top: 230px;
	width: 58px;
}

#android {
	background-image: url('/images/button_android.jpg');
	background-repeat: no-repeat;
	cursor: pointer;
	display: block;
	height: 21px;
	left: 20px;
	position: relative;
	top: 235px;
	width: 58px;
}
*/

#youtube-olay-samples {
	display: inline;
	height: 60px;
	left: 204px;
	position: relative;
	top: 70px;
	width: 300px;
	*width: 301px;
}

#youtube-olay-samples img {
	border: none;
}

#youtube-olay {
	cursor: pointer;
	display: block;
	height: 221px;
	left: 201px;
	position: relative;
	top: -45px;
	width: 306px;
	z-index: 41;
}


/*** COUNTRY SELECTBOX ***/
#countryform {
	margin: 0;
}

#countryselectcontainer {
	display: inline;
	height: 25px;
	left: 350px;
	margin: 0;
	position: absolute;
	top: 22px;
	width: 150px;
	z-index: 101;
}

#countryselectcontainer select {
	background: #AF9570;
	background: -moz-linear-gradient(top, #BEA17B, #745F4B);
	background: -webkit-gradient(linear, left top, left bottom, from(#BEA17B), to(#745F4B));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BEA17B, endColorstr=#745F4B);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#BEA17B, endColorstr=#745F4B)";
	border: 1px solid #AF9570;
	border-radius: 3px 3px 3px 3px;
	color: #FFFFFF;
	cursor: pointer;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 20px;
	padding-left: 2px;
	text-align: left;
	text-decoration: none;
	width: 115px;
}

#countryselectcontainer select option {
	background-color: #FFFFFF;
	border-radius: 0px 0px 3px 3px;
	color: #000000;
	overflow: auto;
	padding-left: 3px;
	position: absolute;
	text-align: left;
  width: 85px;
}

#countrybtn {
	background: #AF9570;
	background: -moz-linear-gradient(top, #BEA17B, #745F4B);
	background: -webkit-gradient(linear, left top, left bottom, from(#BEA17B), to(#745F4B));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BEA17B, endColorstr=#745F4B);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#BEA17B, endColorstr=#745F4B)";
	border: 1px solid #AF9570;
	border-radius: 3px 3px 3px 3px;
	color: #FFFFFF;
	cursor: pointer;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 20px;
	width: 30px;
}






/* Look and feel of select box */
.selectbox{
	background: #AF9570;
	background: -moz-linear-gradient(top, #BEA17B, #745F4B);
	background: -webkit-gradient(linear, left top, left bottom, from(#BEA17B), to(#745F4B));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BEA17B, endColorstr=#745F4B);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#BEA17B, endColorstr=#745F4B)";
	border: 1px solid #AF9570;
	border-radius: 3px 3px 3px 3px;
	color: #FFFFFF;
	cursor: pointer;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	height: auto;
	margin: 0px 5px 10px 0px;
	padding-left: 2px;
	text-align: left;
	text-decoration: none;
	width: 110px;
}

/* Drop down styles*/
div.selectbox-wrapper {
  background-color: white;
  border: 1px solid #AF9570;
	border-radius: 0px 0px 3px 3px;
	margin: 0px;
  margin-top: -10px;
	overflow: auto;
	padding-left: 3px;
	position: absolute;
	text-align: left;
  width: 110px;
}

/*Drop down list styles*/
div.selectbox-wrapper ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

/* Drop down list items style*/
div.selectbox-wrapper ul li {
  cursor: pointer;
  display: block;
	list-style-type: none;
  margin: 0;
  padding: 2px;
}

/* Selected item in dropdown list*/
div.selectbox-wrapper ul li.selected {
  background-color: #AF9570;
	color: #FFFFFF;
}

/* Hover state for dropdown list */
div.selectbox-wrapper ul li.current {
  background-color: #AF9570;
}
