body { 
	background-color: #fff; color: #333; 
}
body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}



div.field, div.actions {
  margin-bottom: 10px;
}
#notice {
  color: green;
}
.field_with_errors {
  padding: 2px;
  background-color: #7e141d;
  display: table;
  color: #ffffff;
}
#error_explanation {
    background-color: #F0F0F0;
    border: 2px solid #7E141D;
    margin-bottom: 20px;
    padding: 7px 7px 0;
    width: 450px;
}
#error_explanation h2 {
    background-color: #7E141D;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    margin: -7px -7px 0;
    padding: 5px 5px 5px 15px;
    text-align: left;
}
#error_explanation ul li {
    font-size: 14px;
    list-style: disc outside none;
}
